{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
Change your email preferences
{% endblock %}
{% block main %}
  <div id="global-header-bar-outer">
    <div id="global-header-bar"></div>
  </div>
  <div class="xpl-section-inner ">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

        <h1 class="gem-c-heading govuk-heading-sl govuk-!-margin-bottom-6">

          Check your inbox</h1>





        <div class="govuk-body">
          <p>

            We’ve sent an email to test@example.com
</p><p>
            Click the link in the email to confirm your email address.
</p><p>

            The link will stop working after 7 days.
</p>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Not received an email?
    </span>
  </summary>
  <div class="govuk-details__text">

    <p>            Emails sometimes take a few minutes to arrive.
    </p><p>
                If you do not receive an email soon, check your spam or junk folder.
    </p><p>
                If this does not work, <a href="#">contact GOV.UK</a> for help.
      </p>

      </div>
</details>



        </div>


                      </div>





        </div>
          </div>
    {% endblock %}
