{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
Change your email preferences
{% endblock %}
{% block main %}
  <div id="global-header-bar-outer">
    <div id="global-header-bar"></div>
  </div>
  <div class="xpl-section-inner ">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

        <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-6">Change your email preferences</h1>





        <div class="govuk-body">
          <p>If you are subscribed to GOV.UK email updates, you can unsubscribe or change the frequency at which you receive emails here.</p>
        <p>You cannot use this page to set up new email subscriptions.  You can set up new subscriptions on topic pages or search pages.</p>
        <p>For security, we need you to confirm your email address before you can manage your existing subscriptions.</p>

        </div>

        <form novalidate="novalidate" action="/email/manage/{% if not noGovUKAccount %}have-govuk-account{% else %}authenticate-2{% endif %}" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="wUGnf9NnTGHpSgY2dsN4xcIUXkmuc5I7GOGFf6wcXt12wScM2Iv7lSLy7d0GA9XJ4pBZr_8brxE2p1oZMmciSQ">

        <div class="govuk-form-group ">


          <label for="email-address-input" class="gem-c-label govuk-label">Email address</label>







            <input name="address" class="gem-c-input govuk-input" id="email-address-input" type="email" aria-describedby="form">
        </div>




          <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit" data-module="auto-track-event" data-track-category="email_subscriptions" data-track-action="authenticate">Continue</button>


        </form>
                      </div>





        </div>
          </div>
    {% endblock %}
