{% extends "account/_account.html" %}
{% set hideAccountMenu = true %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block account %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Manage your GOV.UK account",
      href: "/account/manage-account"
    }
  ]
}) }}

  <h1 class="gem-c-heading govuk-heading-xl govuk-!-padding-top-0 govuk-!-margin-bottom-4">
    Manage your GOV.UK email subscriptions
  </h1>

  {% if  (data['notifications'] | length ) or (data['user-group'] == "Email updates")  %}

    {{ govukInsetText({
    html: "<a href='#'>Unsubscribe from everything</a>"
  }) }}
{% endif %}


  {% if  (data['notifications'] | length )  %}

  <dl class="govuk-summary-list">

      {% for url in data['notifications'] %}


      <div class="govuk-!-margin-bottom-2 govuk-!-padding-top-2" style="border-top: 1px solid #b1b4b6;">

          <p class="govuk-!-margin-bottom-0">Page</p>
          <h2 class="govuk-heading-s govuk-!-padding-top-0 govuk-!-padding-bottom-o govuk-!-margin-bottom-4"">
            <a href="{{ url }}">{{ url | urlToTitle }}</a>
          </h2>
          <p>You subscribed on 14 September 2021</p>
          <p>You’ll get an email each time this page is updated.<br>
            <a href="#">Change how often you get emails</a>
          </p>
          <p>
            <a href="#">Unsubscribe from this page</a>
          </p>
        </div>
      {% endfor %}
  {% if not (data['user-group'] == "Email updates") %}  </dl> {% endif %} <!-- one long list if both email udpates and notifications-->
  {% else %}
{% if not (data['user-group'] == "Email updates") %}  <!-- email updates functionality works separately -->
    <p>

      You’re not currently getting emails about changes to GOV.UK.

      Some GOV.UK pages have a ‘get emails’ link. You can use that link to subscribe to pages or topics you’re interested in.
    </p>
{% endif %}
  {% endif %}

{% if ( data['user-group'] == "Email updates") %}

{% set topicList = [{topic: "News and communications", date : "10 August 2021", frequency: "daily" }, {topic: "Money", date : "6 April 2020"}, {topic: "Ofsted", date: "2 February 2019"}]%}

{% if  not (data['notifications'] | length )  %} <!-- only start list if we don't have an existing set of notifications -->

<dl class="govuk-summary-list">

  {% endif %}
  {% for item in topicList %}


    <div class="govuk-!-margin-bottom-2 govuk-!-padding-top-2" style="border-top: 1px solid #b1b4b6;">
      <p class="govuk-!-margin-bottom-0">Topic</p>
      <h2 class="govuk-heading-s govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-4"">
      {{item.topic}}
      </h2>
      <p>You subscribed on {{item.date}}</p>
      <p>You get {{item.frequency | default("weekly")}} updates.<br/>
        <a href="#">Change how often you get emails</a>
      </p>
      <p >
        <a href="#">Unsubscribe from this topic</a>
      </p>
    </div>
  {% endfor %}
</dl>

{% endif %}

{% endblock %}
