{% extends "layout-traditional.html" %}

{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
    Your account is being deleted
{% endblock %}
{% block main %}
  <div class="xpl-section-inner govuk-width-container">
    <main class="govuk-main-wrapper">



      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Your account is being deleted
              </h1>
            </div>

            <p class="govuk-!-margin-top-4">It can take up to 24 hours for your account to be deleted. During this time, you may still be able to sign in but you will not be able to view your forms or account details.</p>
            <p>If you want to create another account using the same email address, you should wait 24 hours.</p>
            <p>You can complete a passenger locator form withough an account.</p>

            {{ govukButton({
              text: "Finish and return to GOV.UK",
              href: "/"
            }) }}

        </div>
</main>
</div>



    {% endblock %}
