{% extends "layout-traditional.html" %}

{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
Passenger Locator form
{% endblock %}
{% block main %}

  <div class="xpl-section-inner govuk-width-container">
    <main class="govuk-main-wrapper">



      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l govuk-!-margin-top-6">
            Your profile
            </h1>

            {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

            {{ govukWarningText({
              text: "This is your profile page. Select ‘Continue’ to create a passenger locator form.",
              iconFallbackText: "Warning"
            }) }}

            {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Your primary phone number"
                  },
                  value: {
                    text: "07700 900457"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "phone number"
                    }
                  ]
                }
              },

                {
                  key: {
                    text: "How can we contact you when you are in the UK?"
                  },
                  value: {
                    text: "I can be contacted by phone call and text message (SMS)"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "how you want to be contacted"
                      }
                    ]
                  }
                },

                {
                  key: {
                    text: "Given name(s)"
                  },
                  value: {
                    text: "Your"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "given name"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Family name / Surname"
                  },
                  value: {
                    text: "Name"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "contact details"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Date of birth"
                  },
                  value: {
                    text: "1 January 1982"
                  }
                },
                {
                  key: {
                    text: "Document type"
                  },
                  value: {
                    text: "Passport"
                  }
                },
                {
                  key: {
                    text: "Nationality"
                  },
                  value: {
                    text: "United Kingdom"
                  }
                },
                {
                  key: {
                    text: "Country or territory of issue"
                  },
                  value: {
                    text: "British Citizen"
                  }
                },
                {
                  key: {
                    text: "Passport number or travel document reference number"
                  },
                  value: {
                    text: "0208458"
                  }
                },
                {
                  key: {
                    text: "Expiry date"
                  },
                  value: {
                    text: "20 December 2025"
                  }
                },
                {
                  key: {
                    text: "Is your home address in the UK?"
                  },
                  value: {
                    text: "Yes"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "is your home address in the UK?"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Home address"
                  },
                  value: {
                    html: "5 High street<br>Town<br>AB1 9CD"
                  }
                }
              ]
            }) }}

            <div class="">
            {{ govukButton({
              text: "Delete your account",
              classes: "govuk-button--secondary",
              href: "/passenger-locator-form/delete-account"
            }) }}
            </div>

            <div class="">
            {{ govukButton({
              text: "Create a new form",
              classes: "",
              href: "/passenger-locator-form/home"
            }) }}
            </div>

            <div class="sign-in-details">
              <h2 class="govuk-heading-m">Change your sign in details</h2>
              <p>You use your GOV.UK account to sign in to Passenger Locator Form.</p>
              <p class="govuk-body">You can change these details in your GOV.UK account:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>email address</li>
                <li>password</li>
                <li>phone number (for getting security codes to sign in)</li>
              </ul>
              <a href="/account/manage-account-2" class="govuk-body">Change your sign in details in your GOV.UK account</a>
            </div>

        </div>
</main>
</div>



    {% endblock %}
