
{% if showSuccessBanner %}
  <div id="notification-success" class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-0" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-body">
        You’ve subscribed to email updates about this page.
      </p>
      <p class="govuk-body">
        <strong></strong><a class="govuk-notification-banner__link" href="/account/manage-account">Manage your GOV.UK emails</a>.</strong>
      </p>
    </div>
  </div>
{% elseif showRemoveBanner %}
  <div id="notification-success" class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-0" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-body">
        You're no longer getting email updates about this page.
      </p>
      <p class="govuk-body">
        <strong><a class="govuk-notification-banner__link" href="/account/manage-account">Manage your GOV.UK emails</a></strong>.
      </p>
    </div>
  </div>
{% endif %}
