<div id="js-results">

<div class="finder-results js-finder-results" data-module="gem-track-click">
      <ul class="gem-c-document-list gem-c-document-list--no-underline">



{% if (keywords == "sign in") and (not page or (page == "1")) %}



<li class="gem-c-document-list__item  ">

        <a data-ecommerce-path="/help/sign-in" data-ecommerce-row="1" data-ecommerce-index="1" data-track-category="navFinderLinkClicked" data-track-action="Search.1" data-track-label="/sign-in" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Sign in to a service&quot;}" class="gem-c-document-list__item-title  govuk-link--no-visited-state  govuk-link" href="/help/sign-in">Sign in to a service</a>


          <p class="gem-c-document-list__item-description "><mark>Sign</mark> in to a service - choose the service you want to sign in to.</p>

          <ul class="gem-c-document-list__item-metadata">
          </ul>


      </li>
{% endif %}
