{% macro list(options) %}
  <div class="xpl-cards xpl-cards--accent-{{options.accent}}">
    <div class="xpl-cards__heading">
      {% if options.title %}
        <h2 class="govuk-heading-l">{{ options.title }}</h2>
      {% endif %}
      {% if options.subtitle %}
        <p class="xpl-cards__intro">{{ options.subtitle }}</p>
      {% endif %}
    </div>
    <ul class="xpl-cards__list">
      {% for card in options.cards %}
        <li {{ "class=xpl-cards--two-cols" if options.cols == 2 }}>
          <a class="govuk-link" href="{{ card.link }}">
            <div class="xpl-cards__chevron" aria-hidden="true"></div>
            <h3>{{ card.title }}</h3>
            <p class="govuk-body">{{ card.description }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
