.attorney-generals-office {
  border-left: 3px solid  #9f1888!important;
  //border-left: 3px solid -websafe #a03a88!important;
}
.cabinet-office {
  border-left: 3px solid  #005abb!important;
  //border-left: 3px solid -websafe #347da4!important;
}
.civil-service {
  border-left: 3px solid  #af292e!important;
}
.department-for-business-innovation-skills {
  border-left: 3px solid  #003479!important;
  //border-left: 3px solid -websafe #347da4!important;
}
.ministry-of-housing-communities-and-local-government {
  border-left: 3px solid  #009999!important;
  //border-left: 3px solid -websafe #37836e!important;
}
.department-for-digital-culture-media-sport {
  border-left: 3px solid  #d40072!important;
  //border-left: 3px solid -websafe #a03155!important;
}
.department-for-education {
  border-left: 3px solid  #003a69!important;
  //border-left: 3px solid -websafe #347ca9!important;
}
.department-for-environment-food-rural-affairs {
  border-left: 3px solid  #00a33b!important;
  //border-left: 3px solid -websafe #008938!important;
}
.department-for-international-development {
  border-left: 3px solid  #002878!important;
  //border-left: 3px solid -websafe #405e9a!important;
}
.department-for-international-trade {
  border-left: 3px solid  #cf102d!important;
  //border-left: 3px solid -websafe #005ea5!important;
}
.department-for-transport {
  border-left: 3px solid  #006c56!important;
  //border-left: 3px solid -websafe #398373!important;
}
.department-for-work-pensions {
  border-left: 3px solid  #00beb7!important;
  //border-left: 3px solid -websafe #37807b!important;
}
.department-of-energy-climate-change {
  border-left: 3px solid  #009ddb!important;
  //border-left: 3px solid -websafe #2b7cac!important;
}
.department-of-health {
  border-left: 3px solid  #00ad93!important;
  //border-left: 3px solid -websafe #39836e!important;
}
.foreign-commonwealth-development-office {
  border-left: 3px solid  #012169!important;
}
.foreign-commonwealth-office {
  border-left: 3px solid  #003e74!important;
  //border-left: 3px solid -websafe #406e97!important;
}
.government-equalities-office {
  border-left: 3px solid   #9325b2!important;
}
.hm-government {
  border-left: 3px solid  #0076c0!important;
  //border-left: 3px solid -websafe #347da4!important;
}
.hm-revenue-customs {
  border-left: 3px solid  #009390!important;
  //border-left: 3px solid -websafe #008670!important;
}
.hm-treasury {
  border-left: 3px solid  #af292e!important;
  //border-left: 3px solid -websafe #832322!important;
}
.home-office {
  border-left: 3px solid  #9325b2!important;
  //border-left: 3px solid -websafe #9440b2!important;
}
.ministry-of-defence {
  border-left: 3px solid  #4d2942!important;
  //border-left: 3px solid -websafe #5a5c92!important;
}
.ministry-of-justice {
  border-left: 3px solid  #231f20!important;
  //border-left: 3px solid -websafe #5a5c92!important;
}
.northern-ireland-office {
  border-left: 3px solid  #002663!important;
  //border-left: 3px solid -websafe #3e598c!important;
}
.office-of-the-advocate-general-for-scotland {
  border-left: 3px solid  #002663!important;
  //border-left: 3px solid -websafe #005ea5!important;
}
.office-of-the-leader-of-the-house-of-commons {
  border-left: 3px solid  #317023!important;
  //border-left: 3px solid -websafe #005f8f!important;
}
.office-of-the-leader-of-the-house-of-lords {
  border-left: 3px solid  #9c132e!important;
  //border-left: 3px solid -websafe #c2395d!important;
}
.scotland-office {
  border-left: 3px solid  #002663!important;
  //border-left: 3px solid -websafe #405c8a!important;
}
.uk-export-finance {
  border-left: 3px solid  #005747!important;
  //border-left: 3px solid -websafe #005ea5!important;
}
.uk-trade-investment {
  border-left: 3px solid  #c80651!important;
  //border-left: 3px solid -websafe #005ea5!important;
}
.wales-office {
  border-left: 3px solid  #a33038!important;
  //border-left: 3px solid -websafe #7a242a!important;
}
