/*
 * This stylesheet contains rules to change the design of any gov.uk page that
 * is "passed through" by this app (ie, any page except home, topics, subtopics,
 * and a couple others)
 */

@import "colour";

$govuk-secondary-text-colour: #505a5f;

.global-bar {
  border-bottom: none;
}

.govuk-breadcrumbs {
  position: relative;
  width: calc(100vw - 30px);
  margin: 0 -15px 0 -15px;
  padding: 15px;
  background: govuk-colour("light-grey");

  &__link:link, &__link:visited, &__link:hover, &__link:active, &__link:focus {
    color: $govuk-secondary-text-colour;
  }

  .govuk-breadcrumbs__list-item {
    margin-bottom: 0;
  }
}

.covid__page-header {
  .govuk-breadcrumbs {
    background-color: #1d70b8;
  }
}

.content.taxon-page {
  .govuk-breadcrumbs {
    &__link:link,
    &__link:visited,
    &__link:hover,
    &__link:active,
    &__link:focus {
      color: $govuk-secondary-text-colour;
    }
  }
}



@media (min-width: 40.0625em) {
  .govuk-breadcrumbs {
    width: calc(100vw - 60px);
    padding: 30px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    &__list {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


//================================================================
// Links
// taken from https://github.com/alphagov/govuk-frontend/pull/2183/files

/*
$govuk-link-underline-thickness: 0.0625rem !default;
$govuk-link-hover-underline-thickness: unquote("max(.1875rem, .12em)") !default;
$govuk-link-underline-offset: 0.1em !default;
$govuk-text-colour: govuk-colour("black") !default;
*/

/*
a:link {
  text-decoration: underline;
  text-underline-offset: $govuk-link-underline-offset;
  text-decoration-thickness: $govuk-link-underline-thickness;
}
*/

/*
margin-bottom: $govuk-heavy-link-underline-thickness * -1;
border-bottom: $govuk-heavy-link-underline-thickness solid;
*/

