/*
Tabs
*/

$module: "xpl-tabs";

$text-colour: #000;
$border-colour: #ddd;
$toggle-colour: #efedeb;
$grey-2: #222;
$white: #fff;

$small-width: 340px;
$medium-width: 380px;


.#{$module} {

  // small and above

  font-family: "GDS Transport", nta, Arial, sans-serif;

  &__banner {
    padding: 63px 0 0 0;
    background: #283135;
  }

  &__toggle:focus {
    box-shadow: none;
  }

  &__content {
    margin: 0 auto 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 960px;
  }

  &__list-outer {
    padding-left: 25px;
    padding-right: 25px;

  }

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__item + &__item {
    margin-top: 30px;
  }

  &__item:before {
    content: '— ';
  }

  &__title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  &__toggle {
    &--selected,
    &[aria-selected=true] {
      font-weight: bold;
    }
  }

  // medium and above
  @media (min-width: $small-width) {
    &__banner {
      padding: 9px 0 0 0;
    }

    &__toggle {
      display: block;
      float: left;
      border-bottom: 1px solid black;
      padding: 17px 17px 16px 17px;
      background-color: $toggle-colour;
      font-size: 16px;
      text-decoration: none;

      &:link, &:visited {
        color: $text-colour;
      }

      &--selected,
      &[aria-selected=true] {
        background-color: $white;
        border: 2px solid transparent;
      }

      &[aria-selected=true] {
        color: $text-colour;
        text-decoration: none;
      }
    }

    &__list-outer {
      background: #283135;
      height: 55px;
    }


    &__list {
      max-width: 960px;
      margin: 0 auto 0 auto;
      padding: 0;
      list-style-type: none;
    }


    &__item {
      float: left;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
      &:before {
        display: none;
      }
    }

    &__item + &__item {
      margin-left: 20px;
      margin-top: 0;
    }

    &__toggle--selected {
      background: white;
    }

    &__toggle--selected[aria-selected=true]:focus {
      color: $text-colour;
      outline: none;
      background: #fd0;
      border-bottom: 3px solid black;
    }

    &__title {
      display: none;
    }

    &__panel {
      clear: both;
      overflow: hidden;
      h2.govuk-heading-l {
        padding: 40px 0 40px 0;

      }
    }

    // large
    @media (min-width: $medium-width) {

      &__banner {
        display: none;
      }

      &__toggle {
        display: block;
        padding: 20px 20px 19px 20px;
        font-size: 18px;
      }

      &__list-outer {
        height: 63px;

      }

      &__list {
        max-width: 960px;
        margin: 0 auto 0 auto;
        padding: 0;
      }
    }
  }
}
