/*
 *
 *
 */

// @import "colour";

$govuk-secondary-text-colour: #505a5f;
$govuk-link-underline-thickness: 0.0625rem !default;
$govuk-link-hover-underline-thickness: unquote("max(.1875em, .12em)") !default;
$govuk-link-underline-offset: 0.15em;
$govuk-text-colour: govuk-colour("black") !default;

%xpl-a-link {
  text-decoration: underline;
  text-underline-offset: $govuk-link-underline-offset;
  text-decoration-thickness: $govuk-link-underline-thickness;
}

%xpl-a-hover {
  text-decoration-thickness: $govuk-link-hover-underline-thickness;
}

%xpl-a-heavy-hover {
  text-decoration-thickness: 3px;
}

%xpl-link-underline {
  margin-bottom: $govuk-link-underline-thickness;
  border-bottom: $govuk-link-underline-thickness solid;
}

%xpl-link-hover {
  margin-bottom: 3px;
  border-bottom: $govuk-link-hover-underline-thickness solid;
}
