{% extends "layout.html" %}

{% block pageTitle %}
You have signed out
{% endblock %}

{% block header %}
{% include "../_includes/header-auth-mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You have signed out</h1>

      <!-- <form class="form" action="/account-management" method="post"> -->
      <form class="form" action="gov-account" method="post">
        <p class="govuk-body">
            <a href="#" class="govuk-link">Go to the GOV.UK homepage</a> or <a href="gov-account">sign in</a> to your GOV.UK account.
        </p>
      </form>

    </div>
  </div>

{% endblock %}
