{% extends "layout.html" %}

{% block pageTitle %}
Choose your address
{% endblock %}

{% block header %}
{% include "../_includes/header_mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
<a class="govuk-back-link" href="address-postcode-current">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="address-manual-current" method="post">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Choose your address
          </h1>
        </legend>

        <p>
          <span class="govuk-!-margin-bottom-1 govuk-!-display-block">Postcode</span>
          <strong>{{ data['address-postcode-current'] or 'LS1 3BE' }}</strong>
          <a href="address-postcode-current" class="govuk-!-margin-left-5">
            Change
            <span class="govuk-visually-hidden">your postcode</span>
          </a>
        </p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="delivery-address">
            Choose your current home address from the list
          </label>
          <select class="govuk-select" id="delivery-address" name="current-address">
            <option value="">5 addresses found</option>
            <option value="address1">Oxford House, Oxford Row, Leeds, {{ data['address-postcode-current'] or 'LS1 3BE' }}</option>
            <option value="address2">Office 14 New Station St, Leeds, LS1 5DL</option>
            <option value="address3">38 Park Square North, Leeds, LS1 2NY</option>
            <option value="address4">Lion House, 41, York Place, Leeds, LS1 2ED</option>
            <option value="address5">1 Whitehall Quay Whitehall Rd, Leeds, LS1 4HR</option>
          </select>
        </div>

      </fieldset>

      <p class="govuk-body"><a href="address-manual-current">I cannot find my address in the list</a></p>

      <button class="govuk-button" type="submit" data-module="govuk-button">
        Choose address
      </button>

    </form>

  </div>
</div>

{% endblock %}
