{% extends "layout.html" %}

{% block pageTitle %}
  You've successfully proved your identity
{% endblock %}

{% block header %}
{% include "../_includes/header_mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/service/pta/service-pta-home" method="post" class="form">

        <h1 class="govuk-heading-l">
          Your identity has been confirmed
        </h1>

        <p>You can now continue to personal tax account.</p>

        <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
