{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  You've successfully proved your identity
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/index" method="post">

        <h1 class="govuk-heading-l">End of task 2</h1>

        <p>The personal tax account is not included in this research session.</p>

        <p class="govuk-body">Imagine that you have accessed the personal tax account home with your GOV.UK account.</p>

        <button class="govuk-button" data-module="govuk-button">Return to tasks</button>

      </form>

    </div>
  </div>

{% endblock %}
