{% extends "layout.html" %}

{% block pageTitle %}
{{ question }}
{% endblock %}

{% block header %}
{% include "../_includes/header_mvp.html" %}
{% endblock %}

{% block beforeContent %}
{% include "../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/pyi/mvp/kbv-question-answered" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ question }}
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            {{ hint }}
          </div>
          <div class="govuk-radios">

            {% if option1 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option1" name="{{ code }}" type="radio" value="{{ option1 }}">
              <label class="govuk-label govuk-radios__label" for="option1">
                {{ option1 }}
              </label>
            </div>
            {% endif %}

            {% if option2 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option2" name="{{ code }}" type="radio" value="{{ option2 }}">
              <label class="govuk-label govuk-radios__label" for="option2">
                {{ option2 }}
              </label>
            </div>
            {% endif %}

            {% if option3 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option3" name="{{ code }}" type="radio" value="{{ option3 }}">
              <label class="govuk-label govuk-radios__label" for="option3">
                {{ option3 }}
              </label>
            </div>
            {% endif %}

            {% if option4 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option4" name="{{ code }}" type="radio" value="{{ option4 }}">
              <label class="govuk-label govuk-radios__label" for="option4">
                {{ option4 }}
              </label>
            </div>
            {% endif %}

            {% if option5 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option5" name="{{ code }}" type="radio" value="{{ option5 }}">
              <label class="govuk-label govuk-radios__label" for="option5">
                {{ option5 }}
              </label>
            </div>
            {% endif %}

            {% if option6 %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option6" name="{{ code }}" type="radio" value="{{ option6 }}">
              <label class="govuk-label govuk-radios__label" for="option6">
                {{ option6 }}
              </label>
            </div>
            {% endif %}

          </div>

        </fieldset>

        <input class="govuk-input" name="kbvNum" type="hidden" value="{{ code }}">
        <button id="button" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
      </form>
      <p><a class="govuk-link" href="/pyi/mvp/error?errorcode=pyi-kbv-escape">I cannot answer this question</a></p>
    </div>
  </div>

{% if data['devMode'] === 'true' %}
  {# DEVMODE SCENARIOS #}
  {% include "../_includes/devmode_kbvs-2.html" %}
{% endif %}

{% endblock %}
