{% set emailShortCut = [{link: "welcome" , email: "Welcome" }]%}
{% extends "layout_auth.html" %}

{% block pageTitle %}
  You’ve created your GOV.UK account – GOV.UK Prototype
{% endblock %}

{% block content %}
<div class="ggovuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class='govuk-heading-xl'>You’ve created your GOV.UK account</h1>

<p>Now continue to use the service.</p>

{{ govukButton({
text: "Continue",
href: "/dart-charge/add-vehicles"
}) }}

</div>
</div>

</div>


{% endblock %}
