{% extends "layout_auth.html" %}

{% block pageTitle %}
  Create your password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<form data-module="gem-track-click" action="/new-account" accept-charset="UTF-8" data-remote="true" method="post">
  <input type="hidden" name="authenticity_token"
    value="qN3NeE0rDQErgwLO7D0w3rPE4Z0dZMcFgmpqi9V96vYzryz7YoE2fVqk0uP12hmEQHBsDl9teD5JL0aPOj2dRQ==">
  <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">Create your password</h1>

  <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
    data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password"
    data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
    <div class="govuk-form-group">
      <label for="password" class="gem-c-label govuk-label">Enter a password</label>
      <div id="hint-9542783c" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
        It must be at least 8 characters long and must include at least one number
      </div>
      <div class="gem-c-show-password__input-wrapper">
        <input name="user[password]" class="govuk-!-width-one-half gem-c-input govuk-input gem-c-input--with-password" id="password"
          type="password" autocomplete="new-password" aria-describedby="hint-9542783c">
        </div>
    </div>
    <div class="govuk-form-group">
      <label for="password" class="gem-c-label govuk-label">Re-type password</label>

      <div class="gem-c-show-password__input-wrapper">
        <input name="user[password]" class="govuk-!-width-one-half gem-c-input govuk-input gem-c-input--with-password" id="password"
          type="password" autocomplete="new-password" aria-describedby="hint-9542783c">
        </div>
    </div>
  </div>
  <details class="gem-c-details govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary" data-details-track-click="">
      <span class="govuk-details__summary-text">
        How to create a secure password
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
    </div>
  </details>

<h3 class="govuk-heading-m">Agree to our terms of use</h3>

<p>We will collect and save your information securely. We will not share your personal information without your consent.</p>

<p>By continuing, you confirm that you agree to our <a class="govuk-link govuk-link--no-visited-state" href="#">privacy notice</a> and our <a class="govuk-link govuk-link--no-visited-state" href="#">terms and conditions</a>.</p>
  {{ govukButton({
  text: "Continue",
  href: "/auth/enter-phone"
  }) }}
</form>

{% endblock %}
