{% set hidePhase = true %}
{% set back = true %}
{% set accountHidden = true %}
{% set hideFeedback = true %}
{% extends "account/_account.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% set hideAccountMenu = true %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block account %}
    <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">
      No GOV.UK account found
    </h1>
    <p>
      There is no GOV.UK account for :
</p><p>
    <strong>{{ data['govUKEmail'] | default('text@example.com', true ) | safe  }}</strong>
    </p>
    {{ govukInsetText({
    html: 'The GOV.UK account is new. <br>
    It’s separate from other government acocunts, such as Government Gateway or your personal tax account.'
    }) }}

<p>You need to create a GOV.UK account even if you already have another type fof government account.</p>
    {{ govukButton({
      text: "Create a GOV.UK account",
      href: "/auth/create"
    }) }}

      <p>
        <a class="govuk-link" href="/auth/sign-in">Try another email address</a>

      </p>
    {% endblock %}
