{% set accountHidden = true %}
{% set hideFeedback = true %}
{% extends "account/_account.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% set hideAccountMenu = true %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block account %}
    <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">
      You do not have a GOV.UK account
    </h1>
    <p>
      There is no GOV.UK account for :
</p><p>
    <strong>{{ data['govUKEmail'] | default('text@example.com', true ) | safe  }}</strong>
    </p>
    {{ govukInsetText({
    html: 'The GOV.UK account is new. <br>
    It is different from <a href="/sign-in">other government accounts</a> you may have used (for example Government Gateway or Universal Credit).'
    }) }}

<p>You need to create a GOV.UK account even if you have another government account.</p>
    {{ govukButton({
      text: "Create a GOV.UK account",
      href: "/auth/create?emailAddress="  + data['mailinator-email'] + "@mailinator.com"
    }) }}

      <p>
        <a class="govuk-link" href="/auth/sign-in">Try another email address</a>

      </p>
    {% endblock %}
