{% set accountHidden = true %}
{% set hideFeedback = true %}
{% extends "account/_account.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% set hideAccountMenu = true %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block account %}
  <form action="{% if (data['user-group'] == 'Brexit checker') %}/auth/password{% else %}/auth/no-acount{% endif %}" method="post" class="sign-in">
    <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">
      Sign in to your GOV.UK account
    </h1>
    <p>
      Use your GOV.UK account to manage the emails you get about pages you’re interested in.
    </p>
    {{ govukInsetText({
    html: 'You cannot use this to sign in to <a href="/sign-in/another-government-service">other government accounts</a>
    (for example Government Gateway or Universal Credit)'
    }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "_email",
          value: _email
        }) }}


{% if (data['user-group'] == 'Brexit checker')  %}
        <input id="signedIn" name="signedIn" type="hidden" value="true">
{% endif %}
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p>
        <a class="govuk-link" href="/auth">Create a GOV.UK account</a>
        if you do not have one.
      </p>
    {% endblock %}
