{% set hidePhase = true %}
{% set auth = true %}
{% set back = true %}
{% set accountHidden = true %}
{% set hideFeedback = true %}
{% extends "account/_account.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% set hideAccountMenu = true %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block account %}
  <form action="{% if data['created'] or (data['user-group'] == 'Brexit checker') %}/auth/password{% else %}/auth/no-account{% endif %}" method="post" class="sign-in">
    <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">
      Sign in to your GOV.UK account
    </h1>
    <p>
      Enter your email address to sign in.
    </p>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "govUKEmail",
          value: govUKEmail
        }) }}


{% if (data['user-group'] == 'Brexit checker')  %}
        <input id="signedIn" name="signedIn" type="hidden" value="true">
{% endif %}
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>


    {% endblock %}
