{# todo: something here to show just the top 3 and a link to show all #}
{# todo: convert to flexbox #}

<div id="" class="dashboard__research__wrapper">

  <p style="padding: 0 15px;"><a href="pyi">Go to dashboard</a></p>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">MVP
      <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">In design</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>Aligned to 31 Mar 2022</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/mvp/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v9 (PB R3)
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>3rd Jan 2022 - 9th Feb 2022</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v9/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v8 (PB R2)
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>17th Oct 2021 - 20th Dec 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v8/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v7 (PB R1)
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>3rd Sep 2021 - 30th Sep 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v7/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v6
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>5th Aug 2021 - 2 Sep 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v6/photo-id-documents">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v5
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>10th Jul 2021 - 4th Aug 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v5/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v4
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>21 Jun 2021 - 8 Jul 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v4/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v3
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>
    <p class="govuk-hint govuk-!-margin-bottom-4"><small>4 May 2021 - 20 Jun 2021</small></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v3/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v2
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>
    <p class="govuk-hint govuk-!-margin-bottom-4"><small>27 Apr 2021 - 3 May 2021</small></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v2/methods">Identity start page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v1
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>
    <p class="govuk-hint govuk-!-margin-bottom-4"><small>29 Mar 2021 - 26 Apr 2021</small></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/pyi/v1/start">Identity start page</a>
      </li>
    </ul>
  </div>

  <div style="display: block; clear:both;"></div>

</div>



<!--<p class="govuk-bodytext"><a href="/pyi/all">See all</a></p>-->