{# todo: something here to show just the top 3 and a link to show all #}
{# todo: convert to flexbox #}

<div id="" class="dashboard__research__wrapper">

  <p style="padding: 0 15px;"><a href="auth">Go to dashboard</a></p>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">MVP
      <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">In design</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>Aligned to Jul 2022</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/mvp/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v9
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>28th Mar 2022 - 31st Mar 2022</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/v9/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v8
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>3rd Jan 2022 - 9th Feb 2022</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/v8/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v7
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>17th Oct 2021 - 20th Dec 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/v7/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>


  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v6
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>19th Oct 2021 - 20th Oct 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/v6/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v5b
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>10th Jul 2021 - 4th Aug 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/v5b/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">v5
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-left-2" style="font-size: 11px;">Research complete</strong>
    </h3>

    <p class="govuk-hint govuk-!-margin-top-1"><small>21 Jun 2021 - 8 Jul 2021</small></p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4" style="border-bottom: 1px solid #d0d0d0;">
      <li>
        <a href="/auth/v5/gov-account">Sign in page</a>
      </li>
    </ul>
  </div>

  <div style="display: block; clear:both;"></div>

</div>



<!--<p class="govuk-bodytext"><a href="/pyi/all">See all</a></p>-->