{% set hideAccountMenu = true %}
{% extends "account/_account.html" %}
{% block account %}
<h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-4">[Confirm you want to get email updates]</h1>
<p class="govuk-body">

You'll get emails when we update
   <strong>{[page]}</strong>
</p>

{{ govukInsetText({
html: '[You already get email updates from GOV.UK. They’ll be added to your new GOV.UK account when you confirm  you want to get email updates about this page.]' }) }}

<p>
  <a class="govuk-button"
    href="/account/manage-emails">
      [Continue]</a>
</p>

<p><a class="govuk-link" href="/account/manage-emails">[Go to your other GOV.UK emails without  signing up to updates about this page]
</a></p>
{% endblock %}
