{% set hideAccountMenu = true %}
{% extends "account/_account.html" %}
{% block account %}
<h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-4">Confirm you want to get email updates</h1>
<p class="govuk-body">

You’ll get emails when there are updates to:</P>
<p>

   <strong>{{ data['url'] | urlToTitle | default("National lockdown stay at home")}}</strong>
</p>

{% if (data['user-group'] == "Email updates") %}
{{ govukInsetText({
html: 'The other email updates you currently get from GOV.UK will be added to your new GOV.UK account.' })
}}

{% endif %}
<p>
  <a class="govuk-button"
    href="/account/router-add?save={{ data['notifications'][0] | default('/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do') }}">
      Confirm</a>
</p>

<p><a class="govuk-link" href="/">Cancel and go to the GOV.UK homepage
</a></p>
{% endblock %}
