{% set accountHidden = true %}
{% set hideAccountMenu = true %}
{% extends "account/_account.html" %}
{% block account %}
<h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-4">
  You need a GOV.UK account to get these email updates
</h1>
<p class="govuk-body">
  The way you subscribe to emails from GOV.UK is changing.</p>
<p class="govuk-body">
  You need a GOV.UK account to subscribe to emails about:
</p>
<p>
  <strong>{{ data['title'] | default('Test') }}</strong>
</p>

<p>
  To create an account, you need:
 </p>

 <ul class="govuk-list govuk-list--bullet">
<li>
  an email address
  </li><li>
  a UK mobile number with reception
</li></ul>
<p>
  It takes about 5 minutes to create an account.</p>
  <div class="govuk-inset-text">


  If you already get email updates from GOV.UK, they’ll be added to your new GOV.UK account.
</div>

{{ govukButton({
text: "Create a GOV.UK account",
href: "/sign-up"
}) }}
<p>
  <a href="/sign-in">Sign in</a>
  if you already have a GOV.UK account.
</p>
{% endblock %}
