{% set hideAccountMenu = true %}
{% extends "account/_account.html" %}
{% block account %}
<form data-module="gem-track-click" action="/new-account" accept-charset="UTF-8" data-remote="true" method="post">
  <input type="hidden" name="authenticity_token"
    value="qN3NeE0rDQErgwLO7D0w3rPE4Z0dZMcFgmpqi9V96vYzryz7YoE2fVqk0uP12hmEQHBsDl9teD5JL0aPOj2dRQ==">
  <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">Create a GOV.UK account</h1>
  <p>
    Create a GOV.UK account so you can subscribe to and manage emails you get about GOV.UK pages you’re interested in.
  </p>
  {{ govukInsetText({
  html: 'This account is separate from <a href="/sign-in/another-government-service" class="govuk-link">other government accounts</a> (for example Government Gateway or Universal Credit)'
  }) }}
  <div class="govuk-form-group">
    <label for="email" class="gem-c-label govuk-label">Email address</label>
    <input name="user[email]" class="gem-c-input govuk-input" id="email" type="email" autocomplete="username">
  </div>
  <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
    data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password"
    data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
    <div class="govuk-form-group">
      <label for="password" class="gem-c-label govuk-label">Password</label>
      <div id="hint-9542783c" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
        Your password must be at least 8 characters and hard to guess.
      </div>
      <div class="gem-c-show-password__input-wrapper">
        <input name="user[password]" class="gem-c-input govuk-input gem-c-input--with-password" id="password"
          type="password" autocomplete="new-password" aria-describedby="hint-9542783c">
        <button class="gem-c-show-password__toggle" aria-controls="password" type="button" aria-label="Show password"
          data-track-label="createNewAccount" data-track-category="pageElementInteraction"
          data-track-action="passwordShowHide">Show</button>
        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
      </div>
    </div>
  </div>
  <details class="gem-c-details govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary" data-details-track-click="">
      <span class="govuk-details__summary-text">
        How to create a secure password
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words.</p>
      <p class="govuk-body">You can use numbers, symbols and spaces.</p>
    </div>
  </details>
  {{ govukButton({
  text: "Continue",
  href: "/sign-up/your-information"
  }) }}
</form>
<p class="govuk-body">
  <a class="govuk-link" href="/sign-in">Sign in</a> if you already have a GOV.UK accoun.
</p>
{% endblock %}
