{% extends "layout_govuk.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}

{% block beforeContent %}
<div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-l">Travel abroad from England during coronavirus (COVID-19)</h1>
      <p class="govuk-body govuk-!-font-size-24">Travel restrictions: check the testing and quarantine rules when you travel abroad from England.</p>
    </div>
  </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-font-size-16 govuk-!-margin-bottom-2">From: <a href="#" class="govuk-!-font-weight-bold">Department for Transport</a></p>
      <p class="govuk-!-font-size-16 govuk-!-margin-bottom-2">Published 22 June 2021</p>
      <p class="govuk-!-font-size-16 govuk-!-margin-bottom-2">Last updated 18 March 2022 — <a href="#">See all updates</a><br></p>

    </div>
  </div>

  <div class="account-area gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <a role="button" class="govuk-link govuk-body-s gem-c-print-link__button gem-c-notification-link__button " href="/govuk/interrupt" data-module="notification-link">Get updates about this page</a>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      <div class="devolved-nations">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Applies to England</h3>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="#" class="govuk-link">Guidance for Wales</a></li>
          <li><a href="#" class="govuk-link">Guidance for Scotland</a></li>
          <li><a href="#" class="govuk-link">Guidance for Northern Ireland</a></li>
        </ul>
      </div>

      <aside class="app-mainstream-guide-contents-list app-whitehall-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              Travel abroad COVID-19 checklist
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                1. Check foreign travel advice for the countries you want to go to
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                2. Arrange any COVID-19 tests you will need to enter the countries that you will travel to
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                3. Find out how you can use the NHS COVID Pass to prove your vaccination status abroad
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Travelling with children
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Operator and transport hub rules
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Ireland, the Channel Islands and the Isle of Man
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Travel to England guidance
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      <div class="devolved-nations">
          <p class="govuk-!-margin-bottom-0"><a href="#">Read separate guidance if your journey to England starts in another country</a></p>
      </div>

      <h2 class="govuk-heading-m">
        Travel abroad COVID-19 checklist
      </h2>
      <p>This is a summary of what you need to do to travel abroad from England. Read the guidance below for more information about each point in the checklist.</p>

      <h2 class="govuk-heading-m">
        1. Check foreign travel advice for the countries you want to go to
      </h2>
      <p>This will tell you if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the country will allow people to enter from the UK</li>
        <li>you will need to show proof of vaccination status or proof of a negative COVID-19 test</li>
        <li>you will need to quarantine on arrival</li>
      </ul>
      <p>Foreign travel advice will also tell you if the UK government advises against all but essential travel to the country.</p>
      <p><a href="#">Check foreign travel advice for all countries you will visit or travel through</a></p>


      <h2 class="govuk-heading-m">2. Arrange any COVID-19 tests you will need to enter the countries that you will travel to</h2>
      <p>You cannot use an NHS test for this. You must use a private test provider.</p>

      <h2 class="govuk-heading-m">3. Find out how you can use the NHS COVID Pass to prove your vaccination status abroad</h2>
      <p>Some countries require proof of vaccination status before you can enter.</p>
      <p><a href="#">Read about how you can use the NHS COVID Pass to prove your vaccination status</a></p>
      <p>You should do this before you travel.</p>

      <h2 class="govuk-heading-m">Travelling with children</h2>
      <p>You should also <a href="#">check the rules about travelling with children in the country you are travelling to or from.</a></p>

      <h2 class="govuk-heading-m">Operator and transport hub rules</h2>
      <p>Your travel provider, or the transport hub you travel through, may have COVID-19 rules in place. For example they may require or advise you to wear a face covering.</p>
      <p>You should follow any COVID-19 rules and guidance from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your travel provider – airline, ferry, coach or train company</li>
        <li>the transport venue – airport, port, coach or railway station</li>
      </ul>

      <h2 class="govuk-heading-m">Ireland, the Channel Islands and the Isle of Man</h2>
      <p>Check the rules on travel from England if you’re:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">travelling to Ireland</a></li>
        <li><a href="#">travelling to the Isle of Man</a></li>
        <li><a href="#">travelling to Jersey</a></li>
        <li><a href="#">travelling to Guernsey</a></li>
      </ul>

      <h2 class="govuk-heading-m">Travel to England guidance</h2>
      <p><a href="#">Read separate guidance about what you need to do to travel to England</a></p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <p class="govuk-!-font-size-16">Published 22 June 2021<br>
          Last updated 18 March 2022 <a href="#">+ show all updates</a></p>
        </div>
      </div>

      <aside class="app-related-items govuk-!-margin-top-8" role="complementary" style="border-top: 2px solid	#1d70b8">
        <h3 class="govuk-heading-s govuk-!-padding-top-4" id="subsection-title">
          Explore the topic
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Travel abroad
              </a>
            </li>
          </ul>
      </aside>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary" style="border-top: 2px solid	#1d70b8">
        <h3 class="govuk-heading-s govuk-!-padding-top-4" id="subsection-title">
          Related content
        </h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Using the NHS COVID Pass to demonstrate COVID-19 status
              </a>
            </li>
            <li>
              <a href="#">
                Travel to England from another country during coronavirus (COVID-19)
              </a>
            </li>
            <li>
              <a href="#">
                Find a coronavirus (COVID-19) travel test provider if you're arriving in the UK
              </a>
            </li>
            <li>
              <a href="#">
                Foreign travel insurance
              </a>
            </li>
            <li>
              <a href="#">
                Finding and choosing a private coronavirus (COVID-19) test provider
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

</div>





    </div>
  </div>

{% endblock %}
