{% extends "account/_account.html" %}

{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% set breadcrumbs = true %}
{% block pageTitle %}
{{title}}
{% endblock %}
{% block main %}


  <div class="xpl-section-inner govuk-width-container">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

        <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-6">{{title}}</h1>


{% block emailAdmin %}


  {% endblock %}
                      </div>





        </div>
          </div>
    {% endblock %}
