{% extends "layout.html" %}

{% block pageTitle %}
You're nearly there
{% endblock %}

{% block header %}
{% include "../../_includes/header-dbs-r7.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "../../../_includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/service/dbs/mvp/dbs-other-names" method="post" class="form">

      <h1 class="govuk-heading-l">
        You're nearly there
      </h1>

      <p>We have entered your details from your GOV.UK account into your basic application.</p>

      <p>We now need some further information to complete your application.</p>



      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>

</div>
{% endblock %}
