{% extends "layout.html" %}

{% block pageTitle %}
You have been returned to the Request a basic DBS check service
{% endblock %}

{% block header %}
{% include "../../_includes/header-dbs-r7.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "../../../_includes/phase-banner.html" %}
  <!--<a class="govuk-back-link" href="dbs-opt-in">Back</a>-->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="dbs-verify-start" method="post" class="form">

      <h1 class="govuk-heading-l">
        You have been returned to the Request a basic DBS check service
      </h1>

      <p>You can now continue to prove your identity another way.</p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>

</div>
{% endblock %}
