{% extends "notify/_template.html" %}

{% set subjectLine = "Your security code for your GOV.UK account" %}

{% block emailBody %}
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Hello</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Use this security code to confirm the email address for your GOV.​UK account.</p><h2 class="govuk-heading-s" style="Margin: 0 0 20px 0; padding: 0; font-size: 27px; line-height: 35px; font-weight: bold; color: #0B0C0C;">778230</h2><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">The code will expire in 15 minutes. </p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">You can request a new code if your code has expired or is not working: link</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">If you did not use this email address to create a GOV.​UK account, you can ignore this email.</p>

  {% endblock %}
