{% extends "notify/_template.html" %}

{% set subjectLine = "Use your GOV.UK account to manage all your GOV.UK emails in one place" %}

{% block emailBody %}
</p>

<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Hello</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  Your GOV.​UK email subscriptions have now been moved to your new GOV.​UK account.
</p><p  class="govuk-body">
You can now use your account to see and manage the emails you get about:
<ul style="font-family:  'HelveticaNeue', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif; font-size: 19px;  margin: 0 0 0 20px; padding: 0; list-style-type: disc;">
  <li class="govuk-body" style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;" >
News and communications
</li><li class="govuk-body" style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;" >
Money
</li><li  class="govuk-body" style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;" >
Ofsted
</li></ul>
</p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
Sign in to your account:
<a style="word-wrap: break-word; color: #1D70B8;" href="#">https://www.account.publishing.service.gov.uk/sign-in</a></p>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">If you have any questions or something does not look right, contact us: <a style="word-wrap: break-word; color: #1D70B8;" href="#">https://www.account.publishing.service.gov.uk/feedback</a> </p>


  {% endblock %}
