{% extends "notify/_template.html" %}

{% set subjectLine = "Use your GOV.UK account to manage all your GOV.UK emails in one place" %}

{% block emailBody %}
</p>

<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Hello</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">All your GOV.&ZeroWidthSpace;UK email subscriptions have now been moved to your GOV.&ZeroWidthSpace;UK account.</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">You’ll need to sign in to your account  to see and manage the emails you get from GOV.&ZeroWidthSpace;UK:  <a style="word-wrap: break-word; color: #1D70B8;" href="#">https://www.account.publishing.service.gov.uk/sign-in</a></p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">If you have any questions or something does not look right, contact us: <a style="word-wrap: break-word; color: #1D70B8;" href="#">https://www.account.publishing.service.gov.uk/feedback</a> </p>


  {% endblock %}
