{% extends "notify/_template.html" %}

{% set subjectLine = "You've subscribed to: " + data['title'] | default("Coronavirus stay at home") %}

{% block emailBody %}

</p><h2 class="govuk-heading-m">
  You’ve subscribed to GOV.​UK emails
</h2>

<P>
You’ll get an email from GOV.​UK each time we update:
</p>


<p>{{data['title'] | default("Coronavirus stay at home")}}</p>

<p>
Thanks</P><p>
GOV.​UK emails
</p>
<p><a href="#">Unsubscribe</a></p>
<p><a href="#">Change email preferences</a>
  {% endblock %}
