{% extends "notify/_template.html" %}

{% set subjectLine = "Welcome to your GOV.UK account" %}

{% block emailBody %}

</p><p>
You have created your GOV.UK account.
</p><p>
GOV.UK accounts are a first step towards creating a single account that you can use to sign in to all government services.
</p><p>
GOV.UK accounts will eventually replace all other government accounts.
</p><p>
We’re working on adding more features and services.
</p>

    <p class="govuk-body">

      If you have questions, problems or suggestions for how we could make your GOV.UK account better, you can contact us:
      <a href="#">https://signin.account.gov.uk/contact-us</a>
    </p>



  {% endblock %}
