{% set hideAccountMenu = true %}
{% set task2 = true %}
{% extends "account/_account.html" %}

{% block pageTitle %}
    Change your password
{% endblock %}

{% block account%}

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
  <h1 class="govuk-panel__title">
    You have changed your password
  </h1>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Back to your GOV.UK account",
  href: "/account/manage-account-2"
}) }}

    <p>
      Or <a class="govuk-link" href="/passenger-locator-form/home">go back to the service.</a>
    </p>

{% endblock %}
