{% extends "layout_account.html" %}

{% block pageTitle %}
  GOV.UK account – GOV.UK Prototype
{% endblock %}

{% block content %}

<div class="ggovuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="/account/change-password-1"  class="sign-in">
  <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-3">
    Confirm you want to change your password
  </h1>
  <p>You might use your GOV.UK account password to sign in to more than one service.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Services you can sign in to with your GOV.UK account
        </span>
      </summary>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/govuk/dart-charge-start">Dart Charge</a></li>
        <li><a href="https://www.gov.uk/export-control-licence">Export control licences</a></li>
        <li><a href="https://www.gov.uk/email/manage/authenticate">GOV.UK email subscriptions</a></li>
      </ul>
    </details>

      <input id="signedIn" name="signedIn" type="hidden" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Continue to change your password
      </button>
    </form>

    <p>
      <a class="govuk-link" href="/account/home-2">I do not want to change my password</a>
    </p>

  </div>
  </div>

  </div>

{% endblock %}
