{% extends "layout_account.html" %}

{% block pageTitle %}
  GOV.UK account – GOV.UK Prototype
{% endblock %}

{% block content %}

<div class="ggovuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
  <h1 class="govuk-panel__title">
    You have changed your password
  </h1>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Back to your GOV.UK account",
  href: "/account/home"
}) }}

  </div>
  </div>

  </div>

{% endblock %}
