{% set hideAccountMenu = true %}
{% set current = "manage" %}
{% block pageTitle %}
  Cookie and feedback settings - GOV.UK account - GOV.UK
{% endblock %}
{% set back = true %}
{% set backLink = "/account/manage-account" %}
{% extends "account/_account.html" %}
{% block account %}

<h1 class="govuk-heading-l govuk-!-margin-top-4">Cookie and feedback settings</h1>
<form data-module="track-form" data-track-category="account-create" action="/account/cookie-feedback-settings-router"
  accept-charset="UTF-8" data-remote="true" method="post" name="emailAddress" class="form">

  <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-3">Change your cookie settings</h2>


<p>We’d like to use cookies to collect anonymised analytics about how you use GOV.UK while you’re signed in to your GOV.UK account, for example what pages you visit and what you click on.

</p>

  {{ govukRadios({
    idPrefix: "cookie_consent",
    name: "cookie_consent",
    fieldset: {
      legend: {
        text: "Can we use cookies to learn about how you use GOV.UK while you’re signed in to your account?"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if (data['cookie_consent'] == "yes")
      },
      {
        value: "no",
        text: "No",
        checked: true if (data['cookie_consent'] == "no")
      }
    ]
  }) }}

  <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-3">Change your feedback settings</h2>


<p>
  As we add more features to your GOV.UK account, we would like to email you to find out any thoughts or suggestions you might have.

</p>

  {{ govukRadios({
    idPrefix: "feedback_consent",
    name: "feedback_consent",
    fieldset: {
      legend: {
        text: "Can we email you to ask for feedback about your account?"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if (data['feedback_consent'] == "yes")
      },
      {
        value: "no",
        text: "No",
        checked: true if (data['feedback_consent'] == "no")
      }
    ]
  }) }}


<p>
  <button class="govuk-button" data-module="govuk-button">
    Save
  </button> or <a href="/account/manage-account">cancel</a></p>
</form>


{% endblock %}
