{% set signedIn = true %}
{% extends "account/_account.html" %}

{% block account%}


<h1 class="gem-c-heading govuk-heading-xl  govuk-!-padding-top-0 govuk-!-margin-bottom-4">Your GOV.UK account</h1>


  <p class="govuk-body accounts-your-account__email">
    test@example.com
  </p>

  <div class="accounts-panel">
    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">
Manage your GOV.UK emails
    </h2>


    <p class="govuk-body">
    See and update the emails you get about GOV.UK pages you're interested in.
    </p>

    <p class="govuk-body govuk-!-margin-0">
      <a href="manage" class="govuk-link">
        Go to your GOV.UK emails
      </a>
    </p>
  </div>
<br>
  {% endblock %}
