{% extends "layout_account.html" %}
{% set current = "home" %}

{% block pageTitle %}
  GOV.UK account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your GOV.UK account</h1>

      <p class="govuk-!-margin-bottom-8">You're signed in as <span class="govuk-!-font-weight-bold">anne.user@example.com</span></p>

      <div class="home-section govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">About GOV.UK accounts</h2>

      <p>GOV.UK accounts are new. They are a first step towards creating a single account that you can use to sign in to all government services.</p>

      <p>These services currently use GOV.UK accounts:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Dart Charge</a></li>
        <li><a href="#">Export control licences</a></li>
        <li><a href="#">GOV.UK email subscriptions</a></li>
      </ul>

      <p>We’re working on adding more features and services.</p>
    </div>

    <div class="home-section govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Sign in details</h2>

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              anne.user@example.com</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> email address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Password
            </dt>
            <dd class="govuk-summary-list__value">
              ••••••••••••
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> password</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number  (for getting security codes to sign in)
            </dt>
            <dd class="govuk-summary-list__value">
              ******* 100000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> phone number</span>
              </a>
            </dd>
          </div>
        </dl>
        </div>

        <!--
        <div class="home-section govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Cookies and feedback settings</h2>
        <p><a href="#">Change cookies and feedback settings</a></p>
        -->
        
        <div class="home-section govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Delete your account</h2>
        <p>You can permanently delete your account and all the information stored in it.</p>
        <p><a href="#" style="color:#d4351c;">Delete this GOV.UK account</a></p>
        </div>

      </div>
    </div>
    </main>
  </div>

{% endblock %}
