{% set current = "home" %}
{% set title = "Your GOV.UK account" %}
{% extends "account/_account.html" %}
{% block account %}


  <p class="govuk-body accounts-your-account__email">
    test@example.com
  </p>


  <div class="accounts-panel">
  <h2 class="gem-c-heading govuk-heading-m  govuk-!-padding-bottom-0 ">Your GOV.UK email subscriptions</h2>

  {% if  (data['notifications'] | length ) or (subscriptionsAccount) %}
  <p>See and manage the emails you get about updates to pages on GOV.UK.</p>

  <p><a href="/email/admin/index">Manage your GOV.UK email subscriptions</a></p>

  {% else %}
  <div class="govuk-inset-text">

  You’re not currently getting emails about changes to GOV.UK.

  Some GOV.UK pages have a ‘get emails’ link. You can use that link to subscribe to pages or topics you’re interested in.
  </div>
  {% endif %}

  </div>

<br>

{% endblock %}
