{% set hideAccountMenu = true %}
{% set current = "home" %}
{% block pageTitle %}
  Your GOV.UK account - GOV.UK account - GOV.UK
{% endblock %}
{% extends "account/_account.html" %}
{% block account %}

<h1 class="govuk-heading-l govuk-!-margin-top-4">Your GOV.UK account</h1>

  <p class="govuk-body accounts-your-account__email">
    your.name@example.com
  </p>


  <div class="accounts-panel">
  <h2 class="gem-c-heading govuk-heading-m  govuk-!-padding-bottom-0 ">Your GOV.UK email subscriptions</h2>

  {% if  (data['notifications'] | length ) or (subscriptionsAccount) %}
  <p>See and manage the emails you get about updates to pages on GOV.UK.</p>

  <p><a href="/email/admin/index">Manage your GOV.UK email subscriptions</a></p>

  {% else %}
  <div class="govuk-inset-text">

  You’re not currently getting emails about changes to GOV.UK.

  Some GOV.UK pages have a ‘get emails’ link. You can use that link to subscribe to pages or topics you’re interested in.
  </div>
  {% endif %}

  </div>
  <div class="accounts-panel govuk-!-margin-top-4">
  <h2 class="gem-c-heading govuk-heading-m  govuk-!-padding-bottom-0 ">Your passenger locator form account</h2>

  <p>Edit and submit an unfinished passenger locator form for travelling to the UK.</p>

  <p><a href="/passenger-locator-form/home">Go to your passenger locator form account</a></p>

  </div>

<br>


<h3 class="govuk-heading-s">About GOV.UK accounts</h3>
<p class="govuk-body"class>GOV.UK accounts are new. At the moment you can only use your account to manage your GOV.UK email subscriptions.</p>
<p class="govuk-body"class>We’re working on adding more features and services.</p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More about GOV.UK accounts
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>GOV.UK accounts are a first step towards creating a single account that you can use to sign in to all government services.</p>
    <p>They will eventually replace all other government accounts.</p>
    <p>At the moment, GOV.UK accounts are separate from <a href="/sign-in">other government accounts</a> (for example Government Gateway or Universal Credit).</p>
  </div>
</details>

{% endblock %}
