{% set current = "home" %}

{% extends "account/_account.html" %}
{% block account%}


  <h1 class="gem-c-heading govuk-heading-xl  govuk-!-padding-top-0 govuk-!-margin-bottom-4">Your GOV.UK account</h1>
  <p class="govuk-body accounts-your-account__email">
    test@example.com
  </p>
<!--  <div class="accounts-panel">
    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">
      Manage your GOV.UK emails
    </h2>
    {% if data['emailUnverified'] %}
      <p >
        You must confirm your email address to start getting emails.</p>
      <p class="govuk-body govuk-!-margin-0">
        We can
        <a href="/auth/email-confirmation" class="govuk-link">send the confirmation email again</a>
        if you did not get it.
      </a>
    </p>
    {% else %}
      <p >
        See and update the emails you get about GOV.UK pages you're interested in.
      </p>
      <p class="govuk-body govuk-!-margin-0">
        <a href="manage" class="govuk-link">
          Go to your GOV.UK emails
        </a>
      </p>
  {% endif %}
</div>
<br> -->



<h2 class="gem-c-heading govuk-heading-m  govuk-!-padding-bottom-0 ">Your GOV.UK email subscriptions</h2>

{% if  (data['notifications'] | length )  %}
<p>See and manage the emails you get about updates to pages on GOV.UK.</p>

<p><a href="/email/manage/index">Manage your GOV.UK email subscriptions</a></p>

{% else %}
<div class="govuk-inset-text">

You’re not currently getting emails about changes to GOV.UK.

Some GOV.UK pages have a ‘get emails’ link. You can use that link to subscribe to pages or topics you’re interested in.
</div>
{% endif %}

{% if brexitChecker or (data['user-group'] == "Brexit checker") %}

<h2 class="gem-c-heading govuk-heading-m  ">Brexit checker results: what you need to do</h2>

<p>See or update your Brexit checker answers and email updates.</p>

<P><a href="#">Go to your saved Brexit checker results</a></p>

<P><a href="#">Answer the Brexit checker questions again to update your results and email updates</a></p>
{% endif %}

{% endblock %}
