{% set current = "manage" %}
{% extends "account/_account.html" %}
{% block account%}




<h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-top-0">Manage your account</h1>



<div class="accounts-summary-list">
    <div class="gem-c-summary-list  ">
      <h2 class="govuk-heading-m gem-c-summary-list__group-title">Account details</h2>



        <div class="govuk-summary-list__actions-list gem-c-summary-list__group-actions-list">
</div>

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Email</dt>
            <dd class="govuk-summary-list__value">test@gmail.com</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Email</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Password</dt>
            <dd class="govuk-summary-list__value">********</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Password</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Mobile number</dt>
            <dd class="govuk-summary-list__value">0777 777777</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Mobile number</span></a>

</dd>
</div></dl>
    <div class="gem-c-summary__block"></div>
</div>
</div>

<h2 class="gem-c-heading govuk-heading-m  govuk-!-padding-bottom-0 ">Your GOV.UK email subscriptions</h2>

{% if  (data['notifications'] | length )  %}
<p>See and manage the emails you get about updates to pages on GOV.UK.</p>

<p><a href="/email/manage/index">Manage your GOV.UK email subscriptions</a></p>

{% else %}
<div class="govuk-inset-text">

You’re not currently getting emails about changes to GOV.UK.

Some GOV.UK pages have a ‘get emails’ link. You can use that link to subscribe to pages or topics you’re interested in.
</div>
{% endif %}

{% if brexitChecker or (data['user-group'] == "Brexit checker") %}

<h2 class="gem-c-heading govuk-heading-m  ">Brexit checker results: what you need to do</h2>

<p>See or update your Brexit checker answers and email updates.</p>

<P><a href="#">Go to your saved Brexit checker results</a></p>

<P><a href="#">Answer the Brexit checker questions again to update your results and email updates</a></p>
{% endif %}

<h2 class="gem-c-heading govuk-heading-m ">Cookie settings</h2>


<p class="govuk-body">We use cookies to learn about how you use GOV.UK while you’re signed in to your account, for example what pages you visit and what you click on.</p>


<div class="accounts-summary-list">
    <div class="gem-c-summary-list  gem-c-summary-list--wide-title">

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">GOV.UK can use cookies while you’re signed in</dt>
            <dd class="govuk-summary-list__value">Yes</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click" data-track-category="account-manage" data-track-action="manage-account" data-track-label="personal-information-cookies" href="#">
                    Change <span class="govuk-visually-hidden">your cookie settings</span>
</a>

</dd>
</div></dl>
    <div class="gem-c-summary__block"></div>
</div>
</div>

<h2 class="gem-c-heading govuk-heading-m   govuk-!-padding-bottom-0  ">Feedback settings</h2>


<p class="govuk-body">We’d like to email you to ask for your thoughts as we add more features to your account.</p>


<div class="accounts-summary-list">
    <div class="gem-c-summary-list  gem-c-summary-list--wide-title">

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">GOV.UK can send you feedback emails</dt>
            <dd class="govuk-summary-list__value">Yes</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click" data-track-category="account-manage" data-track-action="manage-account" data-track-label="personal-information-feedback" href="#">
                    Change <span class="govuk-visually-hidden">your feedback settings</span>
</a>

</dd>
</div></dl>
    <div class="gem-c-summary__block"></div>
</div>
</div>

<h2 class="gem-c-heading govuk-heading-m">Delete your account</h2>


<p class="govuk-body">You can permanently delete this account and all the information stored in it.</p>

<p >
  <a href="#" class="govuk-link" data-module="gem-track-click" data-track-category="account-manage" data-track-action="manage-account" data-track-label="delete-account">
    Delete this GOV.UK account
  </a>
</p>



{% endblock %}
