{% set hideAccountMenu = true %}
{% set current = "manage" %}
{% block pageTitle %}
  GOV.UK account settings - GOV.UK account - GOV.UK
{% endblock %}
{% extends "account/_account.html" %}
{% block account%}

<h1 class="govuk-heading-l govuk-!-margin-top-4">GOV.UK account settings</h1>

<div class="accounts-summary-list">
    <div class="gem-c-summary-list  ">



      <h2 class="govuk-heading-m gem-c-summary-list__group-title">Sign in details</h2>

      <div class="govuk-inset-text">
        <p class="govuk-body">You use these details to sign in to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Passenger Locator form</li>
          <li>Your GOV.UK email subscriptions</li>
        </ul>
      </div>

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Email</dt>
            <dd class="govuk-summary-list__value">your.name@example.com</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Email</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Password</dt>
            <dd class="govuk-summary-list__value">•••••••••••</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/account/change-password-1">
                  Change<span class="govuk-visually-hidden"> Password</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Mobile number</dt>
            <dd class="govuk-summary-list__value">*****900457</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Mobile number</span></a>

</dd>
</div></dl>
    <div class="gem-c-summary__block"></div>
</div>
</div>



<h2 class="gem-c-heading govuk-heading-m">Cookie and feedback settings</h2>


<p><a href="cookie-feedback-settings">Change your cookie and feedback settings</a></p>

<h2 class="gem-c-heading govuk-heading-m">Delete your account</h2>


<p class="govuk-body">You can permanently delete this account and all the information stored in it.</p>

<p >
  <a href="#" class="govuk-link" data-module="gem-track-click" data-track-category="account-manage" data-track-action="manage-account" data-track-label="delete-account">
    Delete this GOV.UK account
  </a>
</p>



{% endblock %}
