{% set current = "security" %}
{% extends "account/_account.html" %}
{% block account%}





<h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-4">Security</h1>


<div class="govuk-!-margin-bottom-9">
  <p>Read the <a class="govuk-link" href="https://www.gov.uk/government/publications/govuk-accounts-trial-full-privacy-notice-and-accessibility-statement">full GOV.UK accounts privacy notice</a> to find out how we collect, process and use information about you.</p>
  <div id="inset-text-86dcb534" class="gem-c-inset-text govuk-inset-text">
    <p>If something does not look right with the activity on your GOV.UK account, <a class="govuk-link" href="/feedback">report it using the feedback form</a>. We’ll get back to you as soon as possible.</p>
</div>
</div>

<div class="govuk-!-margin-bottom-9">
  <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Services that have used information about you</h2>


    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Brexit checker
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="date-text">
              24 August 2021 at 12:48 (13 days ago)
            </span>
          </dd>
        </div>
    </dl>
</div>

<div class="govuk-!-margin-bottom-9">
    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Sign-in attempts and changes to account details</h2>


    <dl>
        <div class="govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Signed in
  </dt>
  <dd class="govuk-summary-list__value">
    <span class="date-text">
      06 September 2021 at 18:55 (less than a minute ago)
    </span>
  </dd>
  <dd class="govuk-summary-list__value">
    GOV.UK Account
  </dd>
  <dd class="govuk-summary-list__value">
    GB (2a02:c7f:4c00:8b00:8162:9e15:bdc6:14ba)
  </dd>
</div>

        <div class="govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Signed in
  </dt>
  <dd class="govuk-summary-list__value">
    <span class="date-text">
      06 September 2021 at 16:46 (about 2 hours ago)
    </span>
  </dd>
  <dd class="govuk-summary-list__value">
    GOV.UK Account
  </dd>
  <dd class="govuk-summary-list__value">
    GB (2a02:c7f:4c00:8b00:8162:9e15:bdc6:14ba)
  </dd>
</div>

        <div class="govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Signed in
  </dt>
  <dd class="govuk-summary-list__value">
    <span class="date-text">
      01 September 2021 at 17:44 (5 days ago)
    </span>
  </dd>
  <dd class="govuk-summary-list__value">
    GOV.UK Account
  </dd>
  <dd class="govuk-summary-list__value">
    GB (2a02:c7f:4c00:8b00:b9e7:976d:c8ae:a341)
  </dd>
</div>

    </dl>

    <p>
      <a class="govuk-link govuk-link--no-visited-state"  aria-label="Show all sign-in attempts" href="#">Show all</a>
    </p>
</div>

  <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Security codes when you sign in</h2>


  <p>See all the times you asked to skip the security code step.</p>

  <div id="inset-text-4eec6270" class="gem-c-inset-text govuk-inset-text">
    You will always be asked to enter a security code if you sign in on a device you have not used to access your GOV.UK account before.
</div>
  <ul class="govuk-list govuk-list--spaced accounts-border-list">
      <li class="accounts-border-list__item">
  <h3 class="gem-c-heading govuk-heading-s  ">13 August 2021</h3>

  <p>
      You will not need a security code when you sign in on the device you used to skip this step until
    12 September 2021.
  </p>
</li>

      <li class="accounts-border-list__item">
  <h3 class="gem-c-heading govuk-heading-s  ">09 August 2021</h3>

  <p>
      You will not need a security code when you sign in on the device you used to skip this step until
    08 September 2021.
  </p>
</li>

      <li class="accounts-border-list__item">
  <h3 class="gem-c-heading govuk-heading-s  ">28 June 2021</h3>

  <p>
      You could sign in without a security code until
    28 July 2021.
  </p>
</li>

  </ul>
  <p>
    <a class="govuk-link govuk-link--no-visited-state" aria-label="Show all the times you asked to skip the security code step" href="#">Show all</a>
  </p>



{% endblock %}
