{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
    Sign in to a government service
{% endblock %}
{% block main %}
  <div id="global-header-bar-outer">
    <div id="global-header-bar"></div>
  </div>
  <div class="xpl-section-inner ">
    <main class="govuk-main-wrapper">
      {{ govukBreadcrumbs({ items: [{text: "Home", href: "#"}]}) }}



      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
            Sign in to a government service
            </h1>

            <p>Choose the government service you want to sign in to.</p>

            <div class="govuk-inset-text">
        At the moment, there are separate accounts for signing in to different government services.
      </div>

            <p>These are the most viewed government services on GOV.UK:</p>

      <div class="govuk-service-list">

        <div class="govuk-service-list-item">
          <div>
          <img class="img-1" src="{{asset_path}}images/icon-arrow.svg">
            <div class="govuk-service-list-text">
              <a href="/sign-in-universal-credit" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Universal Credit</a>
              <p>See and update your Universal credit claim.</p>
            </div>
          </div>
        </div>

        <div class="govuk-service-list-item">
          <div>
          <img class="img-1" src="{{asset_path}}images/icon-arrow.svg">
            <div class="govuk-service-list-text">
              <a href="/log-in-register-hmrc-online-services" class="govuk-link govuk-link--no-visited-state govuk-heading-m">HMRC services</a>
              <p>Sign in to HMRC services using Government Gateway or GOV.UK Verify.</p>
            </div>
          </div>
        </div>

        <div class="govuk-service-list-item">
          <div>
          <img class="img-1" src="{{asset_path}}images/icon-arrow.svg">
            <div class="govuk-service-list-text">
              <a href="/check-state-pension" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Check your State Pension forecast</a>
              <p>Find out how much State Pension you could get and when.</p>
            </div>
          </div>
        </div>

        <div class="govuk-service-list-item">
          <div>
          <img class="img-1" src="{{asset_path}}images/icon-arrow.svg">
            <div class="govuk-service-list-text">
              <a href="/sign-in-to-manage-your-student-loan-balance" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Manage your student loan balance</a>
              <p>See your student loan balance and manage your repayments.</p>
            </div>
          </div>
        </div>

        <div class="govuk-service-list-item govuk-service-list-item">
          <div>
          <img class="img-1" src="{{asset_path}}images/icon-arrow.svg">
            <div class="govuk-service-list-text">
              <a href="/claim-rural-payments" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Make or update a rural payments claim</a>
              <p>Apply for rural grants and payments.</p>
            </div>
          </div>
        </div>

        <div class="govuk-service-list-item govuk-service-list-item-last">
          <div>
          <img class="img-1" src="{{asset_path}}images/icon-arrow.svg">
            <div class="govuk-service-list-text">
              <a href="/help/get-emails-about-updates-to-govuk" class="govuk-link govuk-link--no-visited-state govuk-heading-m">Manage your GOV.UK emails</a>
              <p>Manage the emails you get about GOV.UK pages you’re interested in.</p>
            </div>
          </div>
        </div>

      </div>
            <h2 class="govuk-heading-m">If the service you’re looking for is not listed</h2>

            <p>If you’re looking for a different service, you can search for it.</p>

            <form action="/search/router" method="post" class="xpl-menu-search-input">
              <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                  <label class="govuk-label " for="desktop-search">
                    Search GOV.UK
                  </label>
                </h2>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input" id="desktop-search" name="keywords" type="text" spellcheck="false">
                    <button class="govuk-input__suffix" aria-hidden="true">Search</button>
                  </div>
                </div>
              </form>

          <div class="govuk-grid-column-one-third">

            <aside class="app-related-items govuk-!-display-none" role="complementary">
              <h2 class="govuk-heading-m" id="subsection-title">
                Subsection
              </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <a href="#">
                      Related link
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Related link
                    </a>
                  </li>
                  <li>
                    <a href="#" class="govuk-!-font-weight-bold">
                      More <span class="govuk-visually-hidden">in Subsection</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </aside>

          </div>
        </div>
</main>
</div>

    {% endblock %}
