{% set accountHidden = true %}
{% extends "account/_account.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% set hideAccountMenu = true %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block account %}
  <form action="/sign-in/password"  class="sign-in">
    <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-3">
      Sign in to your GOV.UK account
    </h1>
    <p>
      Use your GOV.UK account to manage the emails you get about pages you’re interested in.
    </p>
    {{ govukInsetText({
    html: 'You cannot use this to sign in to <a href="/sign-in/another-government-service">other government accounts</a>
    (for example Government Gateway or Universal Credit)'
    }) }}
    <div data-module="gem-track-click">
      <form data-module="explicit-cross-domain-links"
        action="/sign-in?_ga=2.170750432.193280619.1621950818-2125854133.1618489947" accept-charset="UTF-8"
        data-remote="true" method="post" _lpchecked="1">
        <input type="hidden" name="authenticity_token"
          value="UcFSY6TIi0tf5CnMvlE7Yn9jKY+J8AHMsl9DP7pdwDhM9AVnJG0qaiaT9djzNVWf8vm53kzjIXLCjkKsUeaYCQ==">
        <input type="hidden" name="previous_url" id="previous_url">
        <input type="hidden" name="from_confirmation_email" id="from_confirmation_email">


        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "_email",
          value: _email
        }) }}



        <input id="signedIn" name="signedIn" type="hidden" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p>
        <a class="govuk-link" href="/sign-up">Create a GOV.UK account</a>
        if you do not have one.
      </p>
    {% endblock %}
