{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
    Sign in to a government service
{% endblock %}
{% block main %}
  <div id="global-header-bar-outer">
    <div id="global-header-bar"></div>
  </div>
  <div class="xpl-section-inner ">
    <main class="govuk-main-wrapper">
      {{ govukBreadcrumbs({ items: [{text: "Home", href: "#"}]}) }}



      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
            Sign in to a government service
            </h1>

            <p>Choose the government service you want to sign in to.</p>

            <div class="govuk-inset-text">
        At the moment, there are separate accounts for signing in to different government services.
      </div>

            <p>These are the most viewed government services on GOV.UK:</p>

            <div class="govuk-service-list">

            {% macro service(name, text, url, last="") %}
              <div class="govuk-service-list-item {% if last %}govuk-service-list-item-last{% endif %}">
                <div>
                  <div class="govuk-service-list-text">
                    <a href="{{url}}" class="govuk-link govuk-link--no-visited-state govuk-heading-m">{{name}}</a>
                    <p>{{text}}</p>
                  </div>
                </div>
              </div>
            {% endmacro %}

            {{service(name='Universal Credit', text='See and update your Universal credit claim.', url='https://www.gov.uk/sign-in-universal-credit')}}

            {{service(name='HMRC services', text='Sign in to HMRC services using Government Gateway or GOV.UK Verify.', url='https://www.gov.uk/log-in-register-hmrc-online-services')}}

            {{service(name='Check your State Pension forecast', text='Find out how much State Pension you could get and when.', url='https://www.gov.uk/check-state-pension')}}

            {{service(name='Childcare account', text='Get 30 hours free childcare and pay for Tax-Free Childcare.', url='https://www.gov.uk/sign-in-childcare-account')}}

            {{service(name='Passenger locator form', text='Edit and submit an unfinished passenger locator form.', url='https://www.gov.uk/provide-journey-contact-details-before-travel-uk')}}

            {{service(name='Manage your student loan balance', text='See your student loan balance and manage your repayments.', url='https://www.gov.uk/sign-in-to-manage-your-student-loan-balance')}}

            {{service(name='Manage your GOV.UK emails', text='Manage the emails you get about GOV.UK pages you’re interested in.', url='/auth/sign-in', last=true)}}

            </div>

            <h2 class="govuk-heading-m">If the service you’re looking for is not listed</h2>

            <p>If you’re looking for a different service, you can search for it.</p>

            <form action="/search/router" method="post" class="xpl-menu-search-input">
              <div class="govuk-form-group">
                <!--
                <h2 class="govuk-label-wrapper">
                  <label class="govuk-label " for="desktop-search">
                    Search GOV.UK
                  </label>
                </h2>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input" id="desktop-search" name="keywords" type="text" spellcheck="false">
                  </div>

                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Find address
                  </button>
                  -->

                  <div class="gem-c-search govuk-!-display-none-print  gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus">

                    <label for="search-main-08356cca" class="gem-c-search__label">
                      Search on GOV.UK
                    </label>

                  <div class="gem-c-search__item-wrapper">
                      <input class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-main-08356cca" name="keywords" title="Search" type="search" value="">
                      <div class="gem-c-search__item gem-c-search__submit-wrapper">
                        <button class="gem-c-search__submit" type="submit" data-module="gem-track-click">
                          Search
                        </button>
                  </div>
                    </div>
                  </div>
                </div>

              </form>

          <div class="govuk-grid-column-one-third">

            <aside class="app-related-items govuk-!-display-none" role="complementary">
              <h2 class="govuk-heading-m" id="subsection-title">
                Subsection
              </h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <a href="#">
                      Related link
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Related link
                    </a>
                  </li>
                  <li>
                    <a href="#" class="govuk-!-font-weight-bold">
                      More <span class="govuk-visually-hidden">in Subsection</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </aside>

          </div>
        </div>
</main>
</div>



    {% endblock %}
