{% extends "layout_govuk.html" %}

{% block pageTitle %}
  Confirm you want to get emails – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
{% endblock %}

{% block content %}

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="gem-c-heading govuk-heading-xl   govuk-!-margin-bottom-4">Confirm you want to get emails</h1>
        <p class="govuk-body">
          You’ll get emails when there are updates to:
        </P>
        <p>
           <strong>Travel abroad from England during coronavirus (COVID-19)</strong>
        </p>

            <a href="/govuk/travel-abroad-from-england-coronavirus-subscribed-notification.html" class="govuk-button">Confirm</a>

        <p>
          <a class="govuk-link" href="/">Cancel and go to the GOV.UK homepage</a>
        </p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we use  your information
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>GOV.UK email subscriptions will only store the information you’ve provided.</p>
            <p>You can access, update or permanently delete your subscriptions and the information associated with them at any time.</p>
            <p class="govuk-body">We will never:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>sell or rent your information to third parties</li>
              <li>share your information with third parties for marketing purposes</li>
            </ul>
            <p>We may collect and store  information about how you use GOV.UK. We’ll use this data to decide what improvements we can make to GOV.UK and the email updates you’ve subscribed to. You will never be identified personally.</p>
            <p>You can read the <a href="#">full GOV.UK privacy notice</a> for more detail on how your information is stored, shared and used.</p>
          </div>
        </details>

      </div>
    </div>
    </main>
  </div>

{% endblock %}
