{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
Change your email preferences
{% endblock %}
{% block main %}
  <div id="global-header-bar-outer">
    <div id="global-header-bar"></div>
  </div>

  <div class="xpl-section-inner ">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

        <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-6">Manage your GOV.UK email subscriptions</h1>


        <p>Sign in to see and manage the emails you get about updates to GOV.UK.</p>

        <p>You can:</p>

<ul>
  <li>
        unsubscribe from emails you get from GOV.UK
      </li><li>
        change how often you get emails
</li><li>
        update your email address
</li></ul>

<p>You cannot set up new email subscriptions here. Use the link to ‘get emails’ on the page or topic you want to subscribe to. </p>




        <form novalidate="novalidate" action="/email/manage/router" accept-charset="UTF-8"  method="post"  >

        <div class="govuk-form-group ">


          <label for="email-address-input" class="gem-c-label govuk-label">Email address</label>







            <input name="address" class="gem-c-input govuk-input" id="address-input" type="text" aria-describedby="form">
        </div>




          <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit" >Continue</button>


        </form>
                      </div>





        </div>
          </div>
    {% endblock %}
