{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}
{% import "includes/xpl-tabs.njk" as tabs %}
{% block pageTitle %}
Enter your email address
{% endblock %}
{% block main %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

  <div id="global-header-bar-outer">


    <div id="global-header-bar"></div>
  </div>
  <div class="xpl-section-inner ">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

        <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-6">Enter your email address
</h1>




        <form novalidate="novalidate" action="{% if data['created'] or (data['user-group'] == 'Brexit checker') %}/account/have-govuk-account{% else %}/email/manage/authenticate-2{% endif %}" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="wUGnf9NnTGHpSgY2dsN4xcIUXkmuc5I7GOGFf6wcXt12wScM2Iv7lSLy7d0GA9XJ4pBZr_8brxE2p1oZMmciSQ">

        <div class="govuk-form-group ">


          <label for="email-address-input" class="gem-c-label govuk-label">Email address</label>







            <input name="address" class="gem-c-input govuk-input" id="email-address-input" type="email" aria-describedby="form">
        </div>




          <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit" data-module="auto-track-event" data-track-category="email_subscriptions" data-track-action="authenticate">Continue</button>


        </form>
                      </div>





        </div>
          </div>
    {% endblock %}
