#footer {
  background-color:#f3f2f1;
  border-top:10px solid #1d70b8;
  font-family: "GDS Transport", nta, arial, sans-serif;
}

#footer a:link {
  text-decoration: underline;
}

#footer a:link:focus {
  text-decoration: none;
}

#footer .govuk-link:focus,#footer #global-header .govuk-link.gem-c-search__input[type="search"]:focus,#global-header #footer .govuk-link.gem-c-search__input[type="search"]:focus {
  color:#0b0c0c
}
@media (min-width: 40.0625em) {
  #footer .footer-container {
    padding-top:60px
  }

}
@media (min-width: 40.0625em) {
  #footer .footer-categories {
    padding-bottom:30px
  }

}
#footer .footer-categories h2 {
  padding:10px 0 0
}
@media (min-width: 40.0625em) {
  #footer .footer-categories h2 {
    margin:0 0 15px 0;
    padding:0 0 20px;
    border-bottom:1px solid #bfc1c3
  }

}
#footer .footer-categories hr {
  clear:both;
  margin:0 15px 30px;
  border:1px solid #b1b4b6;
  border-width:1px 0 0
}
@media (min-width: 40.0625em) {
  #footer .footer-categories hr {
    margin-bottom:0
  }

}
#footer .footer-categories ul {
  font-family:"GDS Transport", nta, arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:14px;
  line-height:1.1428571429;
  list-style:none;
  padding:0;
  margin:0
}
@media print {
  #footer .footer-categories ul {
    font-family:sans-serif
  }

}
@media (min-width: 40.0625em) {
  #footer .footer-categories ul {
    font-size:16px;
    line-height:1.25
  }

}
@media print {
  #footer .footer-categories ul {
    font-size:14pt;
    line-height:1.2
  }

}
@media (min-width: 40.0625em) {
  #footer .footer-categories ul {
    padding-bottom:60px
  }

}
#footer .footer-categories ul li {
  padding:10px 0 0;
  margin-bottom:5px
}
@media (min-width: 40.0625em) {
  #footer .footer-categories ul li {
    padding:20px 0 0;
    margin-bottom:0
  }

}

#footer .footer-meta .footer-meta-inner .open-government-licence .logo .open-government-licence__logo-link {
  background-position:0 1px;
  padding-bottom:3px
}

#footer .footer-meta .footer-meta-inner .open-government-licence .logo .open-government-licence__logo-link:focus {
  background-color:#fd0
}

#footer .footer-meta .copyright {
  text-align:center
}
@media (min-width: 40.0625em) {
  #footer .footer-meta .copyright {
    text-align:right
  }

}
#footer .footer-meta .copyright a {
  display:inline-block;
  min-width:134px
}


footer {
  border:none;
  margin:0;
  padding:0
}

#footer .footer-meta p {
  color: #454a4c;
}

//==================

#footer .footer-meta:after {
  content:"";
  display:block;
  clear:both
}

#footer .footer-wrapper {
  max-width:960px;
  margin:0 15px
}

@media (min-width: 641px) {
  #footer .footer-wrapper {
    margin:0 30px
  }
}

@media (min-width: 1020px) {
  #footer .footer-wrapper {
    margin:0 auto
  }

}
#footer .footer-meta:after {
  content:"";
  display:block;
  clear:both
}

footer,header,hgroup,nav,section {
  margin:0;
  padding:0;
  vertical-align:baseline
}

#footer .footer-meta:after {
  content:"";
  display:block;
  clear:both
}


#footer .footer-wrapper {
  background-color:#dee0e2;
  padding-top:20px
}

@media (min-width: 641px) {
  #footer .footer-wrapper {
    padding-top:60px
  }
}

#footer a {
  color:#454a4c
}

#footer a:hover {
  color:#171819
}

#footer h2 {
  font-family: "GDS Transport", "nta", Arial, sans-serif;
  font-weight:400;
  text-transform:none;
  font-size:18px;
  line-height:1.2;
  font-weight:bold;
  color:#0b0c0c;
  margin:0
}

@media (min-width: 641px) {
  #footer h2 {
    font-size:24px;
    line-height:1.25
  }
}

#footer h2 a {
  color:inherit
}

#footer .footer-meta {
  padding-bottom:60px;
  clear:both;
  font-size:0;
  color:#454a4c
}

#footer .footer-meta .footer-meta-inner {
  display:inline-block;
  vertical-align:bottom;
  width:100%
}

@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner {
    width:75%
  }
}

#footer .footer-meta .footer-meta-inner ul {
  font-family: "GDS Transport", "nta", Arial, sans-serif;
  font-weight:400;
  text-transform:none;
  font-size:14px;
  line-height:1.5;
  display:inline-block;
  list-style:none;
  margin:0 0 1.5em 0;
  padding:0
}

@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner ul {
    font-size:16px;
    line-height:1.5
  }
}

@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner ul {
    margin:0 0 1em 0
  }
}

#footer .footer-meta .footer-meta-inner ul li {
  display:inline-block;
  margin:0 15px 0 0
}

#footer .footer-meta .footer-meta-inner .open-government-licence {
  clear:left;
  position:relative
}

@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence {
    padding-left:53px
  }
}

#footer .footer-meta .footer-meta-inner .open-government-licence .logo {
  margin-bottom:1em;
  padding-top:0
}

@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence .logo {
    position:absolute;
    left:0;
    top:0;
    width:41px;
    height:100%
  }
}

#footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
  display:block;
  width:41px;
  height:17px;
  overflow:hidden;
  text-indent:-999em;
  background:url(https://www.gov.uk/assets/static/images/open-government-licence-c1aedc8257961b938b4c7a21a2b0db3f2716dd9ef782cea73110dc69107c9042.png) 0 0 no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 20/10),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
  #footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
    background-image:url(https://www.gov.uk/assets/static/images/open-government-licence_2x-10eb4b76075156cc054e4507e556614703f27ce0dd37e48b1e17645fd3e2a473.png);
    background-size:41px 17px
  }
}

#footer .footer-meta .footer-meta-inner .open-government-licence p {
  font-family:"GDS Transport", "nta", Arial, sans-serif;
  font-weight:400;
  text-transform:none;
  font-size:14px;
  line-height:1.14286;
  margin:0;
  padding-top:0.1em
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence p {
    font-size:16px;
    line-height:1
  }
}

#footer .footer-meta .copyright {
  font-family:"GDS Transport", "nta", Arial, sans-serif;
  font-weight:400;
  text-transform:none;
  font-size:14px;
  line-height:1.14286;
  margin:30px 0 0 0;
  width:100%;
  display:block
}

@media (min-width: 641px) {
  #footer .footer-meta .copyright {
    font-size:16px;
    line-height:1.25
  }
}

@media (min-width: 641px) {
  #footer .footer-meta .copyright {
    display:inline-block;
    text-align:inherit;
    width:25%;
    padding-top:15px;
    margin-top:0
  }
}

#footer .footer-meta .copyright a {
  display:block;
  background-image:url(https://www.gov.uk/assets/static/images/govuk-crest-bb9e22aff7881b895c2ceb41d9340804451c474b883f09fe1b4026e76456f44b.png);
  background-repeat:no-repeat;
  background-position:50% 0%;
  text-align:center;
  text-decoration:none;
  padding:115px 0 0 0
}

@media (min-width: 641px) {
  #footer .footer-meta .copyright a {
    background-position:100% 0%
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 20/10),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
  #footer .footer-meta .copyright a {
    background-image:url(https://www.gov.uk/assets/static/images/govuk-crest-2x-c6548884b516041752fc4156a50f084ca387b1e37e4f4668cd109058d924b197.png);
    background-size:125px 102px
  }
}

@media (min-width: 641px) {
  #footer .footer-meta .copyright a {
    text-align:right
  }
}
