.gem-c-accordion__section-button{
  display:inline-block;
  margin-bottom:0;
  padding-top:15px;
  font-weight:bold;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:700;
  font-size:18px;
  font-size:1.125rem;
  line-height:1.1111111111
}
@media print{
  .gem-c-accordion__section-button{
    font-family:sans-serif
  }
}
@media (min-width: 40.0625em){
  .gem-c-accordion__section-button{
    font-size:24px;
    font-size:1.5rem;
    line-height:1.25
  }
}
@media print{
  .gem-c-accordion__section-button{
    font-size:18pt;
    line-height:1.15
  }
}

.gem-c-accordion__section-header{
  padding-top:10px 0
}
.gem-c-accordion__section-heading,.gem-c-accordion__section-summary{
  margin:5px 0
}
.js-enabled .gem-c-accordion{
  border-bottom:1px solid #b1b4b6
}
.js-enabled .gem-c-accordion__controls{
  text-align:left
}
.js-enabled .gem-c-accordion__open-all{
  position:relative;
  z-index:1;
  border-width:0;
  color:#1d70b8;
  background:none;
  -webkit-appearance:none;
  cursor:pointer;
  margin-bottom:20px;
  padding:0 5px 5px 0;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:14px;
  font-size:.875rem;
  line-height:1.1428571429;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
@media print{
  .js-enabled .gem-c-accordion__open-all{
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__open-all{
    font-size:16px;
    font-size:1rem;
    line-height:1.25
  }
}

@media print{
  .js-enabled .gem-c-accordion__open-all{
    font-size:14pt;
    line-height:1.2
  }
}

@media print{
  .js-enabled .gem-c-accordion__open-all{
    font-family:sans-serif
  }
}

.js-enabled .gem-c-accordion__open-all:focus{
  outline:3px solid transparent;
  color:#0b0c0c;
  background-color:#fd0;
  box-shadow:0 -2px #fd0,0 4px #0b0c0c;
  text-decoration:none
}
.js-enabled .gem-c-accordion__open-all:link{
  color:#1d70b8
}
.js-enabled .gem-c-accordion__open-all:visited{
  color:#4c2c92
}
.js-enabled .gem-c-accordion__open-all:hover{
  color:#003078
}
.js-enabled .gem-c-accordion__open-all:active{
  color:#0b0c0c
}
.js-enabled .gem-c-accordion__open-all:focus{
  color:#0b0c0c
}
.js-enabled .gem-c-accordion__open-all::-moz-focus-inner{
  padding:0;
  border:0
}
.js-enabled .gem-c-accordion__open-all:hover,.js-enabled .gem-c-accordion__open-all-text:hover{
  text-decoration:underline;
  color:#1d70b8
}
.js-enabled .gem-c-accordion__open-all:focus .gem-c-accordion__open-all-text,.js-enabled .gem-c-accordion__open-all:focus .gem-c-accordion-nav__chevron{
  color:#0b0c0c;
  text-decoration:none
}
.js-enabled .gem-c-accordion-nav__chevron{
  vertical-align:text-top;
  display:inline-block;
  box-sizing:border-box;
  position:relative;
  width:1.4285714286em;
  height:1.4285714286em;
  margin-left:.3571428571em;
  border:.0714285714em solid;
  border-radius:7.1428571429em
}
@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion-nav__chevron{
    width:1.25em;
    height:1.25em;
    margin-left:.3125em;
    border:.0625em solid
  }
}

.js-enabled .gem-c-accordion-nav__chevron:after{
  content:"";
  display:block;
  box-sizing:border-box;
  position:absolute;
  overflow:visible;
  width:.4285714286em;
  height:.4285714286em;
  border-top:.1428571429em solid;
  border-right:.1428571429em solid;
  transform:rotate(-45deg);
  left:.4285714286em;
  bottom:.3571428571em
}
@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion-nav__chevron:after{
    width:.375em;
    height:.375em;
    border-top:.125em solid;
    border-right:.125em solid;
    left:.375em;
    bottom:.3125em
  }
}

.js-enabled .gem-c-accordion-nav__chevron--down{
  transform:rotate(180deg)
}
.js-enabled .gem-c-accordion__section-heading{
  margin-top:0;
  margin-bottom:0;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:18px;
  font-size:1.125rem;
  line-height:1.1111111111
}
@media print{
  .js-enabled .gem-c-accordion__section-heading{
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__section-heading{
    font-size:24px;
    font-size:1.5rem;
    line-height:1.25
  }
}

@media print{
  .js-enabled .gem-c-accordion__section-heading{
    font-size:18pt;
    line-height:1.15
  }
}

.js-enabled .gem-c-accordion__section-header{
  position:relative
}
@media (hover: none){
  .js-enabled .gem-c-accordion__section-header:hover{
    border-top-color:#1d70b8;
    box-shadow:inset 0 3px 0 0 #1d70b8
  }
  .js-enabled .gem-c-accordion__section-header:hover .gem-c-accordion__section-button{
    border-top-color:#1d70b8
  }
}

.js-enabled .gem-c-accordion__section-button{
  padding:10px 0 25px;
  position:relative;
  margin:0;
  border-width:1px 0 0 0;
  border-top:1px solid #b1b4b6;
  color:#0b0c0c;
  background:none;
  text-align:left;
  cursor:pointer;
  -webkit-appearance:none;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  width:100%
}
@media print{
  .js-enabled .gem-c-accordion__section-button{
    font-family:sans-serif
  }
}

.js-enabled .gem-c-accordion__section-button:active{
  z-index:1;
  color:#0b0c0c;
  background:none
}
.js-enabled .gem-c-accordion__section-button::-moz-focus-inner{
  padding:0;
  border:0
}
.js-enabled .gem-c-accordion__section-button:hover{
  color:#1d70b8
}
.js-enabled .gem-c-accordion__section-button:hover .gem-c-accordion__toggle-text{
  text-decoration:underline;
  color:#1d70b8
}
.js-enabled .gem-c-accordion__section-button:focus{
  outline:3px solid transparent;
  color:#0b0c0c;
  background-color:#fd0;
  box-shadow:0 -2px #fd0,0 4px #0b0c0c;
  text-decoration:none;
  box-shadow:0 0, 0 -4px;
  border-top:1px solid transparent
}
.js-enabled .gem-c-accordion__section-button:focus .gem-c-accordion__toggle-text{
  color:#0b0c0c;
  text-decoration:none
}
.js-enabled .gem-c-accordion__section-button:focus .gem-c-accordion-nav__chevron{
  color:#0b0c0c
}
.js-enabled .gem-c-accordion__section-button:after{
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0
}
.js-enabled .gem-c-accordion__section-button:hover:not(:focus){
  text-decoration:none
}
@media (hover: none){
  .js-enabled .gem-c-accordion__section-button:hover{
    text-decoration:none
  }
}

.js-enabled .gem-c-accordion__toggle-link{
  display:block;
  color:#1d70b8;
  text-transform:capitalize;
  margin-top:5px;
  margin-bottom:5px;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:14px;
  font-size:.875rem;
  line-height:1
}
@media print{
  .js-enabled .gem-c-accordion__toggle-link{
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__toggle-link{
    font-size:16px;
    font-size:1rem;
    line-height:1
  }
}

@media print{
  .js-enabled .gem-c-accordion__toggle-link{
    font-size:14pt;
    line-height:1
  }
}

.js-enabled .gem-c-accordion__toggle-link:active{
  background:#0b0c0c
}
.js-enabled .gem-c-accordion__toggle-text{
  min-width:2.5em;
  display:inline-block
}
.js-enabled .gem-c-accordion__open-all-text{
  min-width:7.5em;
  display:inline-block;
  text-align:left
}
.js-enabled .gem-c-accordion__section-summary{
  margin-top:10px;
  margin-bottom:10px;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size:16px;
  font-size:1rem;
  line-height:1.25
}
@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__section-summary{
    margin-top:10px
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__section-summary{
    margin-bottom:10px
  }
}

@media print{
  .js-enabled .gem-c-accordion__section-summary{
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__section-summary{
    font-size:19px;
    font-size:1.1875rem;
    line-height:1.3157894737
  }
}

@media print{
  .js-enabled .gem-c-accordion__section-summary{
    font-size:14pt;
    line-height:1.15
  }
}

.js-enabled .gem-c-accordion__section-content{
  display:none;
  padding-top:0;
  padding-bottom:30px
}
@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__section-content{
    padding-top:0
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion__section-content{
    padding-bottom:50px
  }
}

.js-enabled .gem-c-accordion__section--expanded .gem-c-accordion__section-content{
  display:block
}
.js-enabled .gem-c-accordion__section-content>:last-child{
  margin-bottom:0
}
.js-enabled .gem-c-accordion--condensed .gem-c-accordion__open-all{
  margin-bottom:25px;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:12px;
  font-size:.75rem;
  line-height:1
}
@media print{
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__open-all{
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__open-all{
    font-size:14px;
    font-size:.875rem;
    line-height:1
  }
}

@media print{
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__open-all{
    font-size:12pt;
    line-height:1
  }
}

.js-enabled .gem-c-accordion--condensed .gem-c-accordion__section-button{
  font-size:16px !important;
  font-size:1rem !important;
  line-height:1.25 !important;
  padding-top:5px;
  padding-bottom:25px
}
@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__section-button{
    font-size:19px !important;
    font-size:1.1875rem !important;
    line-height:1.3157894737 !important
  }
}

@media print{
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__section-button{
    font-size:14pt !important;
    line-height:1.15 !important
  }
}

.js-enabled .gem-c-accordion--condensed .gem-c-accordion-nav__chevron{
  width:1.4285714286em;
  height:1.4285714286em;
  margin-left:.3571428571em;
  border:.0714285714em solid;
  border-radius:7.1428571429em;
  transform:scale(0.875)
}
.js-enabled .gem-c-accordion--condensed .gem-c-accordion-nav__chevron:after{
  width:.4285714286em;
  height:.4285714286em;
  border-top:.1428571429em solid;
  border-right:.1428571429em solid;
  left:.4285714286em;
  bottom:.3571428571em
}
.js-enabled .gem-c-accordion--condensed .gem-c-accordion-nav__chevron--down{
  transform:scale(0.875) rotate(180deg)
}
.js-enabled .gem-c-accordion--condensed .gem-c-accordion__section-summary{
  font-size:14px !important;
  font-size:.875rem !important;
  line-height:1.1428571429 !important;
  margin:5px 0
}
@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__section-summary{
    font-size:16px !important;
    font-size:1rem !important;
    line-height:1.25 !important
  }
}

@media print{
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__section-summary{
    font-size:14pt !important;
    line-height:1.2 !important
  }
}

.js-enabled .gem-c-accordion--condensed .gem-c-accordion__toggle-link{
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:12px;
  font-size:.75rem;
  line-height:1
}
@media print{
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__toggle-link{
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em){
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__toggle-link{
    font-size:14px;
    font-size:.875rem;
    line-height:1
  }
}

@media print{
  .js-enabled .gem-c-accordion--condensed .gem-c-accordion__toggle-link{
    font-size:12pt;
    line-height:1
  }
}
