<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="footer-container govuk-main-wrapper">
      <div class="govuk-grid-row footer-categories" data-module="track-click">
        <div class="govuk-grid-column-two-thirds">
          <h2>Topics</h2>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Benefits" href="/browse/benefits">
                    Benefits
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Births, deaths, marriages and care" href="/browse/births-deaths-marriages">
                    Births, deaths, marriages and care
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Brexit" href="/brexit">
                    Brexit
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Business and self-employed" href="/browse/business">
                    Business and self-employed
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="" href="/browse/childcare-parenting">
                    Childcare and parenting
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Citizenship and living in the UK" href="/browse/citizenship">
                    Citizenship and living in the UK
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Coronavirus" href="/coronavirus">
                    Coronavirus
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Crime, justice and the law" href="/browse/justice">
                    Crime, justice and the law
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Disabled people" href="/browse/disabilities">
                    Disabled people
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-half">
              <ul>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Driving and transport" href="/browse/driving">
                    Driving and transport
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Education and learning" href="/browse/education">
                    Education and learning
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Employing people" href="/browse/employing-people">
                    Employing people
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Environment and countryside" href="/browse/environment-countryside">
                    Environment and countryside
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Housing and local services" href="/browse/housing-local-services">
                    Housing and local services
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Money and tax" href="/browse/tax">
                    Money and tax
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Passports, travel and living abroad" href="/browse/abroad">
                    Passports, travel and living abroad
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Visas and immigration" href="/browse/visas-immigration">
                    Visas and immigration
                  </a>
                </li>
                <li>
                  <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Working, jobs and pensions" href="/browse/working">
                    Working, jobs and pensions
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2>Government activity</h2>
          <ul>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Departments" href="/government/organisations">
                Departments
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="News" href="/search/news-and-communications">
                News
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Guidance and regulation" href="/search/guidance-and-regulation">
                Guidance and regulation
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Policy papers and consultations" href="/search/policy-papers-and-consultations">
                Policy papers and consultations
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Transparency documents" href="/search/transparency-and-freedom-of-information-releases">
                Transparency documents
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="How government works" href="/government/how-government-works">
                How government works
              </a>
            </li>
            <li>
              <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Get involved" href="/government/get-involved">
                Get involved
              </a>
            </li>
          </ul>
        </div>
        <hr>
      </div>


      <div class="footer-meta">
        <div class="footer-meta-inner">
          <h2 class="visuallyhidden">Support links</h2>
          <ul>
            <li><a class="govuk-link" href="/help">Help</a></li>
            <li><a class="govuk-link" href="/help/privacy-notice">Privacy</a></li>
            <li><a class="govuk-link" href="/help/cookies">Cookies</a></li>
            <li><a class="govuk-link" href="/contact">Contact</a></li>
            <li><a class="govuk-link" href="/help/accessibility-statement">Accessibility statement</a></li>
            <li><a class="govuk-link" href="/help/terms-conditions">Terms and conditions</a></li>
            <li><a class="govuk-link" href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
            <li>
              Built by the
              <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">
                Government Digital Service
              </a>
            </li>
          </ul>



          <div class="open-government-licence">
            <p class="logo">
              <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link open-government-licence__logo-link">
                Open Government Licence
              </a>
            </p>
            <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link">Open Government Licence v3.0</a>, except where otherwise stated</p>
          </div>
        </div>

        <div class="copyright">
          <a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            © Crown copyright
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
