{% extends "layout.html" %}
{% import "includes/xpl-cards.html" as cards %}

{% block pageTitle %}
  Welcome to GOV.UK
{% endblock %}


{% block main %}
  <div class="{{ containerClasses }}">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <section class="xpl-hero">
        <div class="xpl-section-inner">
          <h1 class="govuk-heading-xl">
            Welcome to GOV.UK
          </h1>
          <p>The best place to find government services and information</p>
          <p class="xpl-hero-simpler">Simpler, clearer, faster</p>
        </div>
      </section>

      <section class="xpl-hero2">
        <div class="xpl-section-inner">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class ="xpl-most-viewed">
                <h2 class="govuk-heading-l">Most viewed</h2>
                <ul class="govuk-list">
                  <li><a href="/guidance/national-lockdown-stay-at-home">National lockdown: what you can and cannot do</a></li>
                  <li><a href="/guidance/travel-advice-novel-coronavirus">Travel advice: coronavirus (COVID‑19)</a></li>
                  <li><a href="/transition">Brexit: check how the new rules affect you</a></li>
                  <li><a href="/jobsearch">Find a job</a></li>
                  <li><a href="/sign-in-universal-credit">Sign in to your Universal Credit account</a></li>
                </ul>
              </div>
            </div>
            <div class="govuk-grid-column-one-third xpl-search-section">
              <h2 class="govuk-heading-l">Search GOV.UK</h2>
              <form action="/search/all" method="get" class="xpl-search-input">
                <div class="govuk-input__wrapper"><input class="govuk-input" id="desktop-search" name="keywords" type="text" spellcheck="false">
                  <button class="govuk-input__suffix" aria-hidden="true">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="xpl-section-inner">
          {{ cards.list({
            title: "Popular topics",
            accent: "black",
            cards: [
              {
                title: "Benefits",
                link: "/browse/benefits",
                description: "Includes eligibility, appeals, tax credits and Universal Credit"
              }, {
                title: "Births, deaths, marriages and care",
                link: "/browse/births-deaths-marriages",
                description: "Parenting, civil partnerships, divorce and Lasting Power of Attorney"
              }, {
                title: "Business and self-employed",
                link: "/browse/business",
                description: "Tools and guidance for businesses"
              }, {
                title: "Brexit",
                link: "/brexit",
                description: "Check how the new rules affect you"
              }, {
                title: "Childcare and parenting",
                link: "/browse/childcare-parenting",
                description: "Includes giving birth, fostering, adopting, benefits for children, childcare and schools"
              }, {
                title: "Citizenship and living in the UK",
                link: "/browse/citizenship",
                description: "Voting, community participation, life in the UK, international projects"
              }, {
                title: "Coronavirus",
                link: "/coronavirus",
                description: "Includes rules, financial support, testing, vaccination and travel"
              }, {
                title: "Crime, justice and the law",
                link: "/browse/justice",
                description: "Legal processes, courts and the police"
              }, {
                title: "Disabled people",
                link: "/browse/disabilities",
                description: "Includes carers, your rights, benefits and the Equality Act"
              }, {
                title: "Driving and transport",
                link: "/browse/driving",
                description: "Includes vehicle tax, MOT and driving licences"
              }, {
                title: "Education and learning",
                link: "/browse/education",
                description: "Includes student loans, admissions and apprenticeships"
              }, {
                title: "Employing people",
                link: "/browse/employing-people",
                description: "Includes pay, contracts and hiring"
              }, {
                title: "Environment and countryside",
                link: "/browse/environment-countryside",
                description: "Includes flooding, recycling and wildlife"
              }, {
                title: "Housing and local services",
                link: "/browse/housing-local-services",
                description: "Owning or renting and council services"
              }, {
                title: "Money and tax",
                link: "/browse/tax",
                description: "Includes debt and Self Assessment"
              }, {
                title: "Passports, travel and living abroad",
                link: "/browse/abroad",
                description: "Includes renewing passports and travel advice by country"
              }, {
                title: "Visas and immigration",
                link: "/browse/visas-immigration",
                description: "Visas, asylum and sponsorship"
              }, {
                title: "Working, jobs and pensions",
                link: "/browse/working",
                description: "Includes holidays and finding a job"
              }]
            })
          }}
        </div>
      </section>


      <section>
        <div class="xpl-section-inner">
          <div class="xpl-featured">
            <h2 class="govuk-heading-l">Featured</h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <a href="/coronavirus" aria-hidden="true" tabindex="-1">
                  <img alt="" class="home-promo__image" src="/public/images/covid.png" width="600" height="400">
                </a>
                <h3 class="govuk-heading-m">
                  <a href="/coronavirus" class="govuk-link home-promo__link">
                    Coronavirus (COVID-19)
                  </a>
                </h3>
                <p class="home-promo__text govuk-body">
                  Stay at home. Protect the NHS. Save Lives. Find out what you can and cannot do.
                </p>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href="/transition" aria-hidden="true" tabindex="-1">
                  <img alt="" class="home-promo__image" src="/public/images/brexit.png" width="600" height="400">
                </a>
                <h3 class="govuk-heading-m">
                  <a href="/transition" class="govuk-link home-promo__link">
                    Brexit
                  </a>
                </h3>
                <p class="home-promo__text govuk-body">
                  Check. Change. Go. Check how the new rules affect you.
                </p>
              </div>
              <div class="govuk-grid-column-one-third">
                <a href="https://covid19.nhs.uk/" aria-hidden="true" tabindex="-1">
                  <img alt="" class="home-promo__image" src="/public/images/nhs-app.jpg" width="600" height="400">
                </a>
                <h3 class="govuk-heading-m">
                  <a href="https://covid19.nhs.uk/" class="govuk-link home-promo__link">
                    Get the NHS COVID-19 app
                  </a>
                </h3>
                <p class="home-promo__text govuk-body">
                  Use the app to protect yourself and others from coronavirus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section>
        <div class="xpl-section-inner">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="xpl-activity">
                {{ cards.list({
                  title: "Government activity",
                  subtitle: "Find out what the government is doing and how to get involved",
                  accent: "grey",
                  cols: 2,
                  cards: [
                    { title: "News", link:"/search/news-and-communications", description: "News articles, speeches and correspondance" },
                    { title: "Guidance and regulation", link: "/search/guidance-and-regulation", description: "Detailed guidance, rules and regulation" },
                    { title: "Policy papers and consultations", link: "/search/policy-papers-and-consultations", description: "Consultations and strategy" },
                    { title: "Research and statistics", link: "/search/research-and-statistics", description: "Reports, analysis and official statistics" },
                    { title: "Transparency documents", link: "/search/transparency-and-freedom-of-information-releases", description: "Government data, freedom of information releases and corporate reports" }
                  ]})
                }}
              </div>
            </div>


            <div class="govuk-grid-column-one-third">
              <div class="departments-and-policy" aria-labelledby="departments-and-policy-label">
                <h2 class="govuk-heading-l">Government departments and organisations</h2>
                <div class="home-numbers-and-info">
                  <ul class="home-numbers">
                    <li>
                      <a href="/government/organisations#ministerial_departments" class="home-numbers__link home-numbers__link--first govuk-link">
                        <strong class="home-numbers__large">23</strong>
                        <span class="home-numbers__label">Ministerial departments</span>
                      </a>
                    </li>
                    <li>
                      <a href="/government/organisations#agencies_and_other_public_bodies" class="home-numbers__link govuk-link">
                        <strong class="home-numbers__large">409</strong>
                        <span class="home-numbers__label">Agencies and public&nbsp;bodies</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
{% endblock %}
