{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK user research - tasks
{% endblock %}

{% block main %}
<main class="govuk-main-wrapper">
  <section>
    <div class="xpl-section-inner">


      {% if (sessionFlash  or echo ) %}
      {% if ((sessionFlash == "settings") or (echo == "settings")) %}
        <div id="notification-success" class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-0" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">
              You’ve saved the user group as '{{ data['user-group'] }}'.
            </p>

          </div>
        </div>
        {% endif %}
{% endif %}

      <h1 class="govuk-heading-xl">User research - tasks</h1>


<p>Public inbox (mailinator): <a href="https://www.mailinator.com/v4/public/inboxes.jsp?msgid=govukresearch.inbox1-1631267017-29842&to=govukresearch.inbox1#">govukresearch.inbox1</a></p>

      <form action="/tasks" method="post" >

{#

  hint: {
text: "Default setting is 'Nothing' - even when data is cleared "
},
  #}

      {{ govukRadios({
        idPrefix: "user-group",
        name: "user-group",
        fieldset: {
          legend: {
            text: "Set journey",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
        text: "Default setting is 'Nothing' - even when data is cleared "
        },
        items: [
          {
            value: "Nothing",
            checked: true if (data['user-group'] == "Nothing") ,
            text: "Nothing"
          },
          {
            value: "Email updates",
            checked: true if (data['user-group'] == "Email updates") ,
            text: "Email updates"
          },
          {
            value: "Brexit checker",
            checked: true if (data['user-group'] == "Brexit checker") ,
            text: "Brexit checker"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Save selection"
      }) }}

</form>

<form action="/tasks" method="post" >


{{ govukRadios({
  idPrefix: "get-emails",
  name: "get-emails",
  fieldset: {
    legend: {
      text: "Get emails",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
  text: "We can only send 50 Notify emails a day on our trial, so only turn on emails when you need it! "
  },
  items: [
    {
      value: "Yes",
      checked: true if (data['get-emails'] == "Yes") ,
      text: "Yes"
    },
    {
      value: "No",
      checked: true if (data['get-emails'] == "No") ,
      text: "No"
    }
  ]
}) }}
{{ govukButton({
  text: "Save selection"
}) }}

</form>

      <h2 class="govuk-heading-m">Task 1</h2>

<p class="govuk-body">
      {{ govukButton({
        text: "Go to task 1",
        href: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do",
        classes: "govuk-button--secondary"
      }) }}
</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Links
          </span>
        </summary>
        <div class="govuk-details__text">
{% set list1 =[
  { title: "Coronavirus: how to stay safe and help prevent the spread
" , url: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }
  , { title: "You need a GOV.UK account to get these email updates" , url: "/sign-up/email" }
  , { title: "Create a GOV.UK account" , url: "/sign-up" }
  , { title: "Check your email" , url: "/sign-up/check-email" }
  , { title: "Create your password" , url: "/sign-up/create-password" }
  , { title: "Enter your mobile phone number" , url: "/sign-up/enter-phone" }
  , { title: "Check your phone" , url: "/sign-up/check-phone" }
  , { title: "You've created your GOV.UK account" , url: "/sign-up/created" }
  , { title: "Control how we use information about you" , url: "/sign-up/your-information" }
  , { title: 'Confirm you want to get email updates' , url: "/sign-up/confirm" }
  , { title: 'Coronavirus: how to stay safe and help prevent the spread' , url:  "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }]
  %}


  {% set list3 =[
    { title: "Coronavirus: how to stay safe and help prevent the spread
  " , url: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }
    , { title: "You need a GOV.UK account to get these email updates" , url: "/sign-up/email" }
    , { title: "Sign in to your GOV.UK account" , url: "/sign-in" }
    , { title: "Enter your password" , url: "/sign-in/password" }
    , { title: "Check your phone" , url: "/sign-in/2fa" }
    , { title: 'Confirm you want to get email updates' , url: "/sign-up/confirm" }
    , { title: 'Coronavirus: how to stay safe and help prevent the spread' , url:  "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }]
    %}

  {% set recovery = [
    { title: "Sign user in" , url:  "/prototype-admin/log-in-verified" }
    , { title: "Email confirmation" , url:  "/sign-up/email-confirmation" }
    , { title: "Clear all session data (logged out state)", url: "/prototype-admin/clear-data"}
  ]  %}

<h3 class="govuk-heading-s">Group 1 and 2</h3>
          <ul>

            {% for item in list1 %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>


          <h3 class="govuk-heading-s">Group 3</h3>
                    <ul>

                      {% for item in list3 %}
                      <li>

                        <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
                      </li>
                      {% endfor %}
                    </ul>

          <h3 class="govuk-heading-s">Troubleshooting</h3>
          <ul>

            {% for item in recovery %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

                </div>
      </details>

      <h2 class="govuk-heading-m">Task 2</h2>


      {{ govukButton({
        text: "Go to task 2",
        href: "/",
        classes: "govuk-button--secondary"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Links
          </span>
        </summary>
        <div class="govuk-details__text">
{% set list =[
  { title: "GOV.UK" , url: "/" }
  , { title: "Sign in to a government service" , url: "/sign-in/another-government-service" }
  , { title: "Sign in to your GOV.UK account" , url: "/sign-in" }
  , { title: 'Home - GOV.UK account' , url: "/account/home" }
  , { title: 'Manage your GOV.UK emails - GOV.UK account' , url:  "/account/manage" }]

  %}

  {% set recovery = [
    { title: "Sign user in" , url:  "/prototype-admin/log-in-verified" }
    , { title: "Email confirmation" , url:  "/sign-up/email-confirmation" }
    , { title: "Clear all session data (logged out state)", url: "/prototype-admin/clear-data"}
  ]  %}

<h3 class="govuk-heading-s">List</h3>
          <ul>

            {% for item in list %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

          <h3 class="govuk-heading-s">Troubleshooting</h3>
          <ul>

            {% for item in recovery %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

                </div>
      </details>


      <h2 class="govuk-heading-m">Task 3</h2>


      {{ govukButton({
        text: "Go to task 3",
        href: "/government/publications/deferring-your-state-pension",
        classes: "govuk-button--secondary"
      }) }}



      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Links
          </span>
        </summary>
        <div class="govuk-details__text">
{% set list =[
{ title: "Deferring your state pension" , url: "/government/publications/deferring-your-state-pension" }

]

  %}

  {% set recovery = [
    { title: "Sign user in" , url:  "/prototype-admin/log-in-verified" }
    , { title: "Email confirmation" , url:  "/sign-up/email-confirmation" }
    , { title: "Clear all session data (logged out state)", url: "/prototype-admin/clear-data"}
  ]  %}

<h3 class="govuk-heading-s">List</h3>
          <ul>

            {% for item in list %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

          <h3 class="govuk-heading-s">Troubleshooting</h3>
          <ul>

            {% for item in recovery %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

                </div>
      </details>



      </div>
  </section>
</main>
{% endblock %}
