{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK user research - tasks
{% endblock %}

{% block main %}
<main class="govuk-main-wrapper">
  <section>
    <div class="xpl-section-inner">
      <h1 class="govuk-heading-xl">User research - tasks</h1>

      <h2 class="govuk-heading-m">Task 1</h2>

<p class="govuk-body">
      {{ govukButton({
        text: "Go to task 1",
        href: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do",
        classes: "govuk-button--secondary"
      }) }}
</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Links
          </span>
        </summary>
        <div class="govuk-details__text">
{% set list1 =[
  { title: "Coronavirus: how to stay safe and help prevent the spread
" , url: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }
  , { title: "You need a GOV.UK account to get these email updates" , url: "/sign-up/email" }
  , { title: "Create a GOV.UK account" , url: "/sign-up" }
  , { title: "Check your email" , url: "/sign-up/check-email" }
  , { title: "Create your password" , url: "/sign-up/create-password" }
  , { title: "Enter your mobile phone number" , url: "/sign-up/enter-phone" }
  , { title: "Check your phone" , url: "/sign-up/check-phone" }
  , { title: "Control how we use information about you" , url: "/sign-up/your-information" }
  , { title: 'Confirm you want to get email updates' , url: "/sign-up/confirm" }
  , { title: 'Coronavirus: how to stay safe and help prevent the spread' , url:  "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }]
  %}


  {% set list3 =[
    { title: "Coronavirus: how to stay safe and help prevent the spread
  " , url: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }
    , { title: "You need a GOV.UK account to get these email updates" , url: "/sign-up/email" }
    , { title: "Sign in to your GOV.UK account" , url: "/sign-in" }
    , { title: "Enter your password" , url: "/sign-in/password" }
    , { title: "Check your phone" , url: "/sign-in/2fa" }
    , { title: 'Confirm you want to get email updates' , url: "/sign-up/confirm" }
    , { title: 'Coronavirus: how to stay safe and help prevent the spread' , url:  "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" }]
    %}

  {% set recovery = [
    { title: "Sign user in with unverified email (manage page)" , url: "/prototype-admin/log-in-unverified" }
    , { title: "Sign user in with verified email (manage page)" , url:  "/prototype-admin/log-in-verified" }
    , { title: "Email confirmation" , url:  "/sign-up/email-confirmation" }
    , { title: "Clear all session data (logged out state)", url: "/prototype-admin/clear-data"}
  ]  %}

<h3 class="govuk-heading-s">Group 1 and 2</h3>
          <ul>

            {% for item in list1 %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>


          <h3 class="govuk-heading-s">Group 3</h3>
                    <ul>

                      {% for item in list3 %}
                      <li>

                        <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
                      </li>
                      {% endfor %}
                    </ul>

          <h3 class="govuk-heading-s">Troubleshooting</h3>
          <ul>

            {% for item in recovery %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

                </div>
      </details>

      <h2 class="govuk-heading-m">Task 2</h2>


      {{ govukButton({
        text: "Go to task 2",
        href: "/",
        classes: "govuk-button--secondary"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Links
          </span>
        </summary>
        <div class="govuk-details__text">
{% set list =[
  { title: "GOV.UK" , url: "/" }
  , { title: "Sign in to a government service" , url: "/sign-in/another-government-service" }
  , { title: "Sign in to your GOV.UK account" , url: "/sign-in" }
  , { title: 'Home - GOV.UK account' , url: "/account/home" }
  , { title: 'Manage your GOV.UK emails - GOV.UK account' , url:  "/account/manage" }]

  %}

  {% set recovery = [
    { title: "Sign user in with unverified email (manage page)" , url: "/prototype-admin/log-in-unverified" }
    , { title: "Sign user in with verified email (manage page)" , url:  "/prototype-admin/log-in-verified" }
    , { title: "Email confirmation" , url:  "/sign-up/email-confirmation" }
    , { title: "Clear all session data (logged out state)", url: "/prototype-admin/clear-data"}
  ]  %}

<h3 class="govuk-heading-s">List</h3>
          <ul>

            {% for item in list %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

          <h3 class="govuk-heading-s">Troubleshooting</h3>
          <ul>

            {% for item in recovery %}
            <li>

              <a class="govuk-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}
          </ul>

                </div>
      </details>



      </div>
  </section>
</main>
{% endblock %}
